.dropdown {
  color: white;
  position: relative;
  height: 56px;
  z-index: unset;
  &_open {
  }
  &, &-input {
    background: $bg-inputs;
  }
  &__content-wrapper {
    overflow: hidden;
    z-index: 2;
    max-height: 0;
    transition: max-height $easing;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background: $bg-inputs-light;
    box-shadow: 0 10px 13px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 4px 4px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    border-top: 1px solid $divider-main;

  }
  &__item {
    transition: background-color $easing;
    padding: 16px 12px;
    cursor: pointer;
    &:hover {
      background: rgba($white, .05);
    }
    &.active {
      background: rgba($white, .15);
    }
  }
}

.dropdown-input {
  height: 100%;
  padding: 24px 48px 8px 12px;
  position: relative;
  width: 100%;
  transition: background-color $easing;
  cursor: pointer;
  border-radius: 1px;
  display: block;
  &:hover, &.active {
    background: $bg-inputs-light;
  }
  &__label {
    position: absolute;
    left: 12px;
    top: 0;
    transform: translateY(16px);
    color: $text-secondary;
    transition: transform $easing, font-size $easing;
    font-size: 16px;
    line-height: 24px;
  }
  &_open & {
    &__label {
      color: var(--accent);
      transform: translateY(8px);
      font-size: 12px;
      line-height: 16px;
    }
  }
  &__text {
    font-size: 16px;
    line-height: 24px;
  }
  &__arrow {
    fill: $text-secondary;
    position: absolute;
    right: 12px;
    top: 16px;
    transition: transform $easing;
    &_open {
      transform: rotate(180deg);
    }
  }

}