.catalog-page {
  --cart-width: 360px;
  padding-bottom: 90px;
  &__container {
    display: flex;
    max-width: 100vw;
  }
  &__content {
    width: 100%;
  }
  &__cart {
    width: var(--cart-width);
    position: relative;
    right: -24px;
    top: 0;
  }
  &__promotions {
    margin-top: 23px;
  }

  @include media-breakpoint-up(lg) {
    background-position: 0;
    &__content {
      width: calc(100% - var(--cart-width));
    }
    &__container {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}
