.contacts {
  &__human {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  &__title {
    margin-bottom: 28px;
  }
  &__grid {
    --items-count: 1;
    --item-margin-y: 12px;
    margin-bottom: 20px;
  }
  &__social {
    margin-bottom: 18px;
  }
  & hr {
    height: 1px;
    background: $divider-main;
    width: 100%;
    box-sizing: border-box;
    border: none;
    margin: 10px 16px  28px;
  }
  @include media-breakpoint-between(sm, lg) {
    & .grid__item:first-child {
      width: calc(100% - var(--item-margin-x) * 2) !important;
    }
  }

  @include media-breakpoint-up(sm) {
    &__grid {
      --items-count: 2;
      --item-margin-y: 30px;
    }
    & hr {
      display: none;
    }
  }

  @include media-breakpoint-up(xl) {
    &__grid {
      --items-count: 3;
      --item-margin-x: 15px;
    }
    &__human {
      margin-top: 32px;
      margin-bottom: 32px;
    }
  }
}
