// DeliveryTerms



.delivery-terms {
  @media (min-width: $lg) {
    display: flex;
    justify-content: space-between;
  }
}

.delivery-terms__zones-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  margin-top: 40px;
  margin-bottom: 37px;
}


.delivery-terms__map-wp {

  max-height: 100vh;
  width: 100vw;
  height: 600px;
  margin-left: -16px;
  margin-right: -16px;

  @media (min-width: $lg) {
    margin-left: 0;
    margin-right: 0;
    position: sticky;
    top: 24px;
    max-height: 530px;
    width: 703px;
    margin-top: 14px;
  }
}
