.promotions-page {
  &__grid {
    --items-count: 2;
    --item-margin-y: 8px;
    --item-margin-x: 8px;
  }

  &__page-title {
    margin-bottom: 32px;
  }

  &__order-type {
    width: 100%;
    margin-bottom: 24px;
    &-btn {
      width: 50%;
      background: $bg-surface;
    }
  }

  &__use-coupon {
    margin-top: 16px;
    margin-bottom: 40px;
  }

  &__card {
    --height: 100%;
    --width: 100%;
    --height-lg: 100%;
    --width-lg: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

  @include media-breakpoint-up(sm) {
    &__grid {
      --items-count: 3;
    }

    &__use-coupon {
      margin-top: 26px;
    }

    &__head {
      display: flex;
      align-items: center;
    }

    &__order-type {
      margin-bottom: 0;
      margin-left: 40px;
      width: auto;
      &-btn {
        width: 167px;
        font-size: 16px;
        line-height: 26px;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &__grid {
      --items-count: 4;
      --item-margin-y: 12px;
      --item-margin-x: 12px;
      margin-top: 20px;
    }
  }
}
