.notification {
  position: relative;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba($success, .98);
  padding: 16px;
  border-radius: 4px;
  display: flex;
  max-width: calc(100% - 20px);
  width: 100%;
  transition: transform $easing;
  &_error {
    background: rgba($error, .98);
  }
  &_error & {
    &__icon {
      fill: $white;
    }
  }

  &__wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    pointer-events: none;
    z-index: 99;
  }

  &__icon {
    fill: $white;
    margin-right: 16px;
    min-width: 24px;
  }

  &__text {
    line-height: 24px;
    font-size: 16px;
  }

  @include media-breakpoint-up(md) {
    width: 600px;
  }
}
