.copyrights {
  font-size: 14px;
  line-height: 16px;
  padding: 24px 0;
  letter-spacing: 0.02em;
  border-top: 1px solid $divider-main;
  width: 100%;
  &__made-by {
    margin-left: auto;
  }
  &__year {
    margin-right: 24px;
  }

  & a {
    --line-opacity: .2;
    background: linear-gradient(rgba($white, var(--line-opacity)), rgba($white, var(--line-opacity))) repeat-x 0 100%;
    background-size: 100% 1px;
    padding-bottom: 2px;
    margin-bottom: -2px;
    &:hover {
      --line-opacity: .8;
      color: rgba(var(--accent-hover-rgb), .8);
    }
  }
}
