//

.current-order {
  &__help {
    margin-top: 0;
  }
  &__info-block {
    & + & {
      margin-top: 40px;
    }
  }
  &__pick-up + &__info-block {
    margin-top: 40px;
  }

  &__pick-up {
    background: $accent-take-in;
    color: $text-main;
    &:hover {
      background: $accent-take-in-hover;
    }
    &:active {
      background: $accent-delivery-pressed;
    }
    @media (min-width: $md) {
      width: 288px;
      margin-top: 56px;
    }
  }

  &__go-to-menu {
    margin-top: 41px;
    margin-bottom: 40px;

    @media (min-width: $md) {
      margin-top: 56px;
      width: 288px;
    }
  }
}

.your-order,
.address-current-order {
  + .current-order__info-block {
    margin-top: 40px;
    @media (min-width: $md) {
      margin-top: 56px;
    }
  }
}
