.restaurant {
  padding-top: 22px;
  padding-bottom: 32px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100vw;
    left: calc(var(--px) * -1);
    top: 0;
    background: $divider-main;
  }
  &__header {
    display: flex;
    align-items: center;
  }
  &__work-time {
    display: block;
  }
  &__map-icon-wrapper {
    margin-left: auto;
    padding-left: 16px;
  }
  &__map-icon {
    width: 42px;
    height: 42px;
    fill: $icon-secondary;
    transition: fill $easing;
    &:hover {
      fill: var(--accent);
    }
    &:active {
      fill: var(--accent-pressed);
    }
  }
  &__info {
    color: $text-secondary;
    font-size: 14px;
    line-height: 20px;
    & + & {
      margin-top: 16px;
    }
  }

  @include media-breakpoint-up(md) {
    &__map-icon {
      width: 32px;
      height: 32px;
    }
    &__info {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.restaurant__title {
  position: relative;
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  margin: 0;
  display: flex;
  transition: color $easing;
  &:hover {
    color: var(--accent);
  }
  &:active {
    color: var(--accent-pressed);
    &:after {
      border-color: var(--accent-pressed)
    }
  }
  &:after {
    content: '';
    width: 13px;
    height: 13px;
    min-width: 13px;
    position: relative;
    top: 5px;
    margin-left: 5px;
    border-right: 4px solid var(--accent);
    border-bottom: 4px solid var(--accent);
    transform: rotate(-45deg);
    transition: border-color $easing;
  }
  @include media-breakpoint-up(md) {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    &:after {
      top: 9px;
      margin-left: 5px;
    }
  }
}

.restaurant__open-status {
  font-size: 16px;
  line-height: 24px;
  font-family: $ff-s;
  margin-top: 5px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  &:before {
    content: '';
    background: $success;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 10px;
  }
  &_closed {
    &:before {
      background: $error;
    }
  }
  @include media-breakpoint-up(md) {
    font-size: 16px;
    margin-top: 10px;
    line-height: 24px;
  }
}

.restaurant {
  @include media-breakpoint-up(sm) {
    padding: 0;
    &:before {
      display: none;
    }
    &__open-status {
      margin-bottom: 16px;
    }
    &__info {
      & + & {
        margin-top: 8px;
      }
    }
  }
  @include media-breakpoint-up(md) {
    &__work-time {
      display: inline;
    }
  }
}
