.apartment-inputs {
  display: flex;
  position: relative;
  &__input {
    & + & {
      margin-left: 1px;
    }
  }
}

.apartment-error {
  font-size: 12px;
  line-height: 16px;
  color: $error;
  position: absolute;
  top: calc(100% + 4px);
  left: 12px;
  max-width: calc(100% - 24px);
}