//

.status {
  --color: #{$accent-take-in-main};

  &--delivery {
    --color: #{$accent-delivery};
  }

  display: flex;
  min-height: 40px;

  @media (min-width: $md) {
    min-height: 45px;
  }

  &:last-of-type {
    min-height: 1px;

    .status__line {
      display: none;
    }

    .status__food {
      margin-bottom: 7px;
    }
  }

  &__icon {
    height: 24px;
    width: 24px;
    display: block;
    fill: $bg-inputs-light;
    flex-shrink: 0;

    &_primary {
      fill: var(--color);
    }

    &_cancel {
      fill: $error;
    }
  }

  &__text-wrap {
    margin-top: 0;
    margin-bottom: 0;
  }


  &__name {
    display: block;
    font-size: 14px;
    line-height: 20px;
    margin-top: 2px;

    color: $text-disabled;

    &_primary {
      color: var(--color);
    }

    &_cancel {
      color: $error;
    }

    @media (min-width: $md) {
      margin-top: 0;
      font-size: 16px;
      line-height: 26px;
    }
  }

  &__graphic-content {
    display: flex;
    flex-direction: column;
    width: 24px;
    margin-right: 24px;
    flex-shrink: 0;
  }


  &__line {
    display: block;
    height: 100%;
    width: 2px;
    background-color: $bg-inputs-light;
    border-radius: 1px;
    margin: 4px auto;

    &_primary {
      background-color: var(--color);
    }

    @media (min-width: $md) {
      margin: 3px auto 1px auto;
    }
  }

  &__food {
    display: block;
    color: $text-disabled;
    font-weight: 600;
    margin-top: 7px;
    margin-bottom: 8px;

    &:last-of-type {
      margin-bottom: 12px;
    }

    &_primary {
      color: $text-main;
    }

    &_done {
      color: $text-disabled;
    }
  }
}




