// PaymentMethod


.payment-method {
  @media (min-width: $md) {
    max-width: 600px;


    .circle-radio-croup {
      width: 100%;
    }


    .circle-radio+.circle-radio {
      margin-top: 24px;
    }
  }
}

.payment-method__title {
  margin-top: 0;
  margin-bottom: 25px;

  @media (min-width: $md) {
    margin-bottom: 40px;
  }
}


.payment-method__form {

}


.payment-method__next {
  margin-top: 47px;

  @media (min-width: $md) {
    margin-top: 40px;
  }
}


.payment-method__help {
  margin-top: 40px;

  @media (min-width: $md) {
    margin-bottom: 0;
  }
}