// Input

.input {
  display: block;
  font-size: 16px;
  line-height: 24px;

  position: relative;
  transition: opacity $easing;

  // *** для проверки
  // margin-bottom: 20px;
  // width: 280px;
  // margin-left: 72px;
}

.input__inner-wp {
  width: 100%;
}

.input_square {
  height: 64px;
  width: 64px;
}

.input__wrapper {
  position: relative;
  height: 100%;
}

.input_disabled {
  pointer-events: none;
  opacity: 0.5;
}

.input__fluid {
  background: $bg-inputs;
  border-radius: 1px;
  border: none;
  height: 56px;

  padding-top: 16px;
  padding-left: 12px;
  padding-right: 48px;

  width: 100%;
  max-width: 100%;

  caret-color: var(--accent);

  color: $text-main;

  &::placeholder {
    opacity: 0.54;
  }

  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

.input__fluid_square {
  height: 64px;
  font-size: 40px;
  text-align: center;
  padding: 12px;
  font-weight: bold;
  transition: background $easing;

  &:hover,
  &:focus {
    background: $bg-inputs-light;
  }
}

.input__fluid--error {
  color: $error;
}

.input__title {
  color: $text-secondary;
  position: absolute;
  top: 16px;
  left: 12px;
  white-space: nowrap;
  cursor: text;

  transition: color $easing, font-weight $easing, font-size $easing, transform $easing;
}

.input__title--top {
  color: var(--accent);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333em; // 16px
  transform: translateY(-8px);
}

.input__title--error {
  color: $text-secondary;
}

.input__text {
  display: block;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;

  margin-left: 12px;
  margin-right: 12px;
  margin-top: 4px;

  max-width: 100%;
}

.input__helper {
  color: $text-secondary;
}

.input__error {
  color: $error;
}

.input__icon-wp {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 48px;

  pointer-events: none;

  position: absolute;
  top: 0;
  right: 0;
}

.input__clear {
  padding: 18px 14px;
  opacity: 0;
  transition: opacity $easing;

  // cursor: pointer;
  pointer-events: none;
  max-height: 56px;
}

.input__clear_show {
  opacity: 1;

  cursor: pointer;
  pointer-events: painted;
}

.input__icon {
  width: 20px;
  height: 20px;
}

// modificators
.input {
  &_no-label {
    padding-top: 0;
  }
  &_no-clear {
    padding-right: 10px;
  }
}
