// DeliveryTermsContent

.delivery-terms-content {
  @media (min-width: $lg) {
    margin-right: 20px;
  }
}


.terms {
  @media (min-width: $md) {
    max-width: 600px;
  }
}

.terms__title {
  font-weight: 800;
  font-size: 28px;
  line-height: 36px;
  margin-top: 27px;

  @media (min-width: $md) {
    font-weight: 900;
    font-size: 46px;
    line-height: 60px;
    margin-top: 16px;
  }
}


.terms__desk {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;

  @media (min-width: $md) {
    margin-top: 40px;
  }
}

.terms__desk-content {
  margin-bottom: 24px;
  & + & {
    margin-left: 22px;
  }
  @media (min-width: $md) {
    margin-bottom: 21px;
    & + & {
      margin-left: 26px;
    }

  }
}

.terms__lead {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: var(--accent);

  @media (min-width: $md) {
    font-weight: 600;
    font-size: 34px;
    line-height: 48px;
  }
}

.terms__text {
  margin-top: 0.6em;
  line-height: 1.5em;
  max-width: 124px;

  @media (min-width: $md) {
    margin-top: 0.7em;
    font-size: 18px;
    line-height: 28px;
      max-width: 160px;
  }
}

.terms__list {
  margin-top: 0;
  list-style: none;
  padding-left: 0;
}


