// HelpSuccess

.help-success {
  margin-top: 145px;
  margin-bottom: 100px;
  &__sticker-wp {
    width: 114px;
    height: 114px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 31px;
  }
  &__sticker {
    max-width: 100%;
    max-height: 100%;
  }
  &__title {
    font-weight: 900;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    max-width: 275px;
    margin-right: auto;
    margin-left: auto;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 133px;
    &__sticker-wp {
      margin-left: 0;
      margin-bottom: 41px;
    }
    &__title {
      text-align: left;
      margin-left: 0;
      font-weight: bold;
      font-size: 34px;
      line-height: 48px;
      max-width: 100%;
    }
  }
}
