// TabControls


.tab-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  
  margin-left: -$mobile-padding;
  margin-right: -$mobile-padding;
  
  @media (min-width: $md) {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;

    &:before {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      display: block;
      height: 2px;
      width: 100%;
      background-color: #3B3E47;
    }
  }
}


.tab-controls__list {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  position: relative;
  overflow: auto;
  padding-bottom: 20px;
  bottom: -20px;
  white-space: nowrap;

  padding-left: $mobile-padding;

  @media (min-width: $md) {
    padding-left: 0;
    padding-bottom: 0;
    bottom: 0;
  }
}


.tab-controls__item {
  display: block;
  margin-right: 20px;

  &:last-of-type {
    padding-right: $mobile-padding;
  }

  @media (min-width: $md) {
    margin-right: 40px;

    &:last-of-type {
      padding-right: 0;
      margin-right: 0;
    }
  }
}


.tab-controls__link {
  display: block;
  color: $text-secondary;
  transition: color $easing, border-color $easing;
  position: relative;

  font-weight: 600;
  padding-bottom: 16px;
  border-bottom: 2px solid #444454;
  font-size: 16px;
  
  @media (min-width: $md) {
    padding-bottom: 13px;
    padding-top: 13px;
    font-size: 24px;
    line-height: 32px;
    border-color: transparent;
  }


  &:hover {
    color: var(--accent-hover);
  }

  &:active {
    color: var(--accent-pressed);
  }

  &.active {
    color: $text-main;
    border-color: var(--accent);
  }
}