.btn {
  border: 1px solid transparent;
  font-size: 16px;
  line-height: 24px;
  width: inherit;
  padding: 0 24px;
  height: 56px;
  min-height: 56px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 1px;
  transition: background-color $easing, color $easing;
  position: relative;
  display: inline-flex;
  align-items: center;
  user-select: none;
  &.btn_disabled, &:disabled, &[disabled] {
    cursor: default;
    pointer-events: none;
  }
  &__left-icon, &__right-icon {
    height: 24px;
  }
  &__left-icon {
    margin-right: 8px;
  }
  &__right-icon {
    margin-left: 8px;
  }
  &__content {
    display: flex;
    align-items: center;
  }
  &__loader {
    animation: rotate 1s linear infinite;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: center;
    margin-left: -12px;
    margin-top: -12px;
    & + .btn__content {
      opacity: 0;
    }
  }
  & svg {
    fill: var(--accent)
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.btn_full-width {
  width: 100%;
}

.btn__content_centred {
  justify-content: center;
  width: 100%;
}

.btn_primary {
  background: var(--accent);
  color: var(--text-contrast);
  &:hover {
    background: var(--accent-hover);
  }
  &:active {
    background: var(--accent-pressed);
  }
  &.btn_disabled,
  &:disabled,
  &[disabled] {
    color: rgba($black, .38);
  }
}

.btn_outlined {
  border-color: $border;
  background: transparent;
  color: $text-main;
  transition: opacity $easing;
  &:hover {
    background: rgba($black, .05);
  }
  &:active {
    background: rgba($black, .15);
  }
  &.btn_disabled,
  &:disabled,
  &[disabled] {
    opacity: .3;
  }
}

.btn_transparent {
  border-color: transparent;
  background: transparent;
  color: var(--accent);
  &:hover {
    background: rgba(var(--accent-rgb), .05);
  }
  &:active {
    background: rgba(var(--accent-rgb), .15);
  }
  &.btn_disabled,
  &:disabled,
  &[disabled]  {
    color: rgba($white, .38);
  }
}

.btn {
  &_error & {
    &__text {
      color: $error;
    }
  }
  &_error {
    &:hover {
      background: rgba($error, .05) !important;
    }
    &:active {
      background: rgba($error, .15) !important;
    }
  }
}
