// 

.header-delivery {
  margin-top: 24px;
  margin-bottom: 40px;
  
  @media (min-width: $lg) {
    margin-top: 40px;
    margin-bottom: 28px;
  }
}

.header-delivery__container {
  @media (min-width: $lg) {
    display: flex;
    align-items: center;
  }
}

.header-delivery__logo {
  opacity: 0.5;
  flex-shrink: 0;
  margin-right: 77px;
}


.header-delivery__list {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
}


.header-delivery__item {
  display: flex;
  align-items: center;

  &+& {
    margin-left: 8px;
  }

  &:after {
    content: '';
    display: none;
    height: 1px;
    width: 40px;
    background-color: $divider-main;
    margin-left: 18px;
  }

  &:last-of-type {
    &:after {
      display: none;
    }
  }

  &_primary {
    width: 100%;

    &:after {
      display: block;
      width: 100%;
    }
  }

  &_done {
    width: auto;

    &:after {
      display: none;
    }
  }


  @media (min-width: $lg) {
    width: auto;

    &+& {
      margin-left: 0;
    }

    &:after {
      display: block;
      width: 40px;
      margin-right: 19px;
    }
  }
}

.header-delivery__text {
  color: $text-disabled;
  display: flex;
  align-items: center;
  opacity: 0.5;
  margin-top: 0;
  margin-bottom: 0;
  transition: color $easing;

  &_primary {
    color: var(--accent);
    opacity: 1;

    &:hover {
      color: var(--accent-hover);
    }

    &:active {
      color: var(--accent-pressed);
    }
  }


  @media (min-width: $lg) {
    font-size: 18px;
    line-height: 28px;
  }
}


.header-delivery__status {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 32px;
  width: 32px;
}

.header-delivery__count {
  border: 2px solid currentColor;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1em;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  flex-shrink: 0;
}


.header-delivery__icon {
  fill: currentColor;
  height: 32px;
  width: 32px;
  flex-shrink: 0;
}

.header-delivery__name {
  display: none;
  margin-left: 8px;

  &_primary {
    display: block;
  }

  &_done {
    display: none;
  }

  @media (min-width: $lg) {
    display: block;
  }
}