.info-block {
  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 8px;
    margin-top: 0;
  }
  &__link {
    color: var(--accent);
    transition: color $easing;
    display: block;
    font-size: 16px;
    line-height: 24px;
    &:hover {
      color: var(--accent-hover);
    }
    &:active {
      color: var(--accent-pressed);
    }
  }
  &__text {
    font-size: 16px;
    line-height: 24px;
    & p {
      margin: 0;
    }
  }

  @include media-breakpoint-up(md) {
    &__title {
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      margin-bottom: 24px;
    }
    &__text {
      font-size: 16px;
      line-height: 26px;
    }
  }
}
