// AdditiveList

.additive-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  &__item {
    width: calc(100% / 3 - 6px);

    margin-right: 8px;
    margin-bottom: 8px;
      &:nth-of-type(3n) {
        margin-right: 0;
      }
  }
}
