// RecommendProduct

.recommend-product {
  border-radius: 4px;
  min-height: 163px;
  height: 100%;
  width: 288px;
  display: flex;
  background-color: $bg-inputs-light;
  padding: 5px 16px 5px 16px;

  &__img-wp {
    height: 153px;
    width: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 16px;
  }
  &__img {
    max-width: 100%;
    max-height: 100%;
    flex-shrink: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 19px;
  }
  &__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 0;
    margin-bottom: 16px;

    &_small {
      line-height: 20px;
    }
  }
  &__title-text {
    line-height: inherit;
    display: block;
  }
  &__add {
    margin-top: auto;
    margin-bottom: 19px;
    height: 48px;
    min-height: 48px;
    & svg {
      fill: $icon;
      transition: fill $easing;
    }
  }
}
