// Recipient


.recipient {

}

.recipient__order {
  background-color: $bg-surface;
  border-radius: 4px;
  padding: 16px 16px 19px 16px;

  @media (min-width: $md) {
    padding-top: 20px;
    padding-bottom: 23px;
  }
}


.recipient__wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 14px;

  @media (min-width: $md) {
    font-size: 18px;
    margin-bottom: 22px;
  }
}

.recipient__order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 19px;

  @media (min-width: $md) {
    margin-bottom: 20px;
  }
}


.recipient__sum {
  font-weight: 600;
  margin-top: 19px;
  margin-bottom: 0;
  padding-top: 19px;
  border-top: 1px dashed $divider-main;

  @media (min-width: $md) {
    padding-top: 21px;

  }
}


.recipient__order-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;

  @media (min-width: $md) {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
  }
}


.recipient__change {
  color: var(--accent);
  transition: color $easing;

  &:hover {
    color: var(--accent-hover);
  }

  &:active {
    color: var(--accent-pressed);
  }
}

.recipient__title {
  margin-top: 40px;
  margin-bottom: 24px;

  @media (min-width: $md) {
    margin-bottom: 32px;
    margin-top: 56px;
  }
}


.recipient__form {

}

.recipient__input {
  margin-bottom: 24px;

  @media (min-width: $md) {
    max-width: calc(50% - 12px);
    width: calc(50% - 12px);
  }
}


.recipient__next {
  margin-top: 16px;

  @media (min-width: $md) {
    margin-top: 8px;
  }
}


.recipient__help {
  margin-top: 40px;

  @media (min-width: $md) {
    margin-top: 8px;
    margin-bottom: 0;
  }
}
