.terms-address {
  background: $bg-inputs;
  border-radius: 1px;
  padding: 24px 20px;
  margin-bottom: 16px;
  min-height: 108px;
  transition: background-color $easing;
  cursor: pointer;

  &:hover {
    background: $bg-inputs-light;
  }
  &:active {
    background: $bg-surface;
  }

  @media (min-width: $md) {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 24px;
    min-height: 112px;
    width: 392px;
  }

  &__name {
    margin-top: 0;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 0;

    @media (min-width: $md) {
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
    }
  }

  &__address {
    color: rgba(255, 255, 255, 0.54);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: 0.8em;

    @media (min-width: $md) {
      margin-top: 0.6em;
    }
  }
}
