.coupon {
  margin-bottom: 60px;
  &__preview {
    height: 180px;
    margin-top: 10px;
  }

  &__img {
    height: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  &__code {
    font-weight: 900;
    font-size: 28px;
    line-height: 36px;
    margin: 24px 0;
  }

  &__desc {
    & p {
      margin: 0;
      font-size: 16px;
      line-height: 24px;
      & + p {
        margin-top: 16px;
      }
    }
  }

  &__discount {
    margin-top: 32px;
    margin-bottom: 24px;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
  }

  &__price {
    color: var(--accent);
    &_old {
      position: relative;
      color: $divider-light;
      margin-right: 18px;
      opacity: .4;
      &:before {
        content: '';
        width: calc(100% + 4px);
        margin: 0 -2px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 3px;
        background: $divider-light;
      }
    }
  }

  &__btn-wrapper {
    position: sticky;
    background: $bg-inputs;
    padding: 12px 0;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-top: auto;
  }
}

@include media-breakpoint-up(lg) {
  .coupon {
    &__preview {
      margin-top: 0;
    }
    &__code {
      margin-top: 34px;
    }
    &__discount {
      margin-bottom: 40px;
    }
  }
}
