// TabContent


.tab-content {
  width: 100%;
  max-width: 100%;

  @media (min-width: $md) {
    width: 600px;
  }
}

.tab-content__help-block {

  @media (min-width: $xl) {
    margin-left: auto;
    margin-right: 0;
  }
}
