// Tabs

.personal-account-tabs {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  height: 100%;
}

.personal-account-tabs__content-wp {
  margin-top: 36px;
  flex: 1 0 auto;

  @media (min-width: $md) {
    margin-top: 56px;
    flex: 0;
  }

  @media (min-width: $xl) {
    display: flex;
  }
}


.personal-account-tabs__profile {
  padding-top: 4px;

  @media (min-width: $md) {
    padding-top: 0;
  }
}


.personal-account-tabs__exit {
  display: none !important;

  @media (min-width: $lg) {
    display: block !important;
  }
}