.burger {
  &__side-modal {
    padding: 0 !important;
  }
  &__item {
    padding: 16px;
  }
  &__city-picker {
    padding: 22px 16px;
  }
}

.burger__spoiler {
  padding: 0 16px;
  border: none;
  svg {
    fill: $icon-secondary !important;
  }
  & .spoiler__content {
    padding: 0;
  }
  & .spoiler__header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  & .spoiler__title {
    font-size: 20px !important;
    line-height: 24px !important;
    font-weight: 700;
  }
  & .spoiler__btn-open {
    height: 24px;
  }
  & .burger__spoiler-item {
    display: block;
    font-size: 16px;
    line-height: 20px;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 20px;
    font-weight: 700;
  }
}

.burger__copyrights {
  padding: 16px;
  line-height: 20px;
  flex-direction: column;
  color: $text-secondary;
  margin-top: 50px;
  border: none;
  & .copyrights__item {
    display:  block;
    & + .copyrights__item {
      margin-top: 8px;
    }
  }
}
