.textarea {
  &-wp {
    position: relative;
  }
  padding: 8px 48px 8px 12px;
  font-size: 16px;
  line-height: 24px;
  color: $text-main;
  background: $bg-inputs;
  border: none;
  border-radius: 1px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 80px;
  caret-color: var(--accent);
  &::placeholder {
    color: $text-secondary;
    font-size: 12px;
    line-height: 16px;
  }
}
