.radio-button {
  --padding: 10px 0;

  font-size: 14px;
  line-height: 20px;
  transition: color $easing, background-color $easing, border $easing;
  cursor: pointer;
  text-align: center;
  padding: var(--padding);
  color: $text-secondary;
  position: relative;
  width: 33.33%;
  &:hover {
    background: $bg-inputs-light;
  }
  &:active {
    background: var(--accent-pressed);
    color: var(--text-contrast);
  }
  &.active {
    color: var(--text-contrast);
    background: var(--accent);
    z-index: 1;
    border-radius: 2px;
  }
  & + & {
    border-left: 1px solid $bg-main;
  }
  &__input {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    position: absolute; // для firefox
  }

  @include media-breakpoint-up(md) {
    --padding: 15px 18px;
  }

}
