// StoryContent

.story-content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 62px 20px 24px 20px;
  &__title {
    font-weight: 900;

    font-size: 28px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 8px;
  }
  &__text {
    font-size: 16px;
    line-height: 24px;
  }
  &__valid-until {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
  }
  &__btn {
    width: 100%;
    margin-bottom: 0;
    margin-top: auto;
    z-index: 10000;
  }
  &__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: block;
    object-fit: contain;
  }

  @include media-breakpoint-up(sm) {
    background: $bg-surface;
    top: 17px;
    padding-top: 44px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 38px;
    &__title {
      font-size: 33px;
      line-height: 44px;
      margin-bottom: 4px;
    }
  }
}
