// StoriesSlider

.stories-slider {
  &__btn {
    height: 24px;
    width: 24px;
    background: #FFFFFF;
    border-radius: 50%;
    opacity: 0.6;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(50% + 10px);
    z-index: 1;
    border: none;
    cursor: pointer;
    transition: opacity $easing;


    &:hover {
      opacity: 0.7;
    }

    &>svg {
      fill: #D1CED8;
      height: 8px;
      width: 8px;
    }

    &:disabled {
      opacity: 0.5;
      cursor: default;
    }

    &_prev {
      left: 10px;
      transform: translateY(-50%) rotate(-90deg);
    }

    &_next {
      right: 10px;
      transform: translateY(-50%) rotate(90deg);
    }
  }
  .slider__item {
    width: 100%!important;
    // min-height: 100vh!important;
    display: flex;
    justify-content: center;
  }
}
