//  




.help__text {
  font-size: 16px;
  line-height: 24px;

  @media (min-width: $md) {
    font-size: 18px;
    line-height: 28px;

    &_small {
      font-size: 16px;
      line-height: 24px;
    }
  }
}


.help__link {
  border-bottom: 1px solid rgba(var(--accent-rgb), 0.5);
  display: inline-block;
  transition: color $easing;

  &:hover,
  &:active {
    color: var(--accent);
  }

  &--block {
    display: flex;
    // margin-top: 16px;
  }

  &--item {
    font-size: 18px;
    line-height: 28px;
    display: block;
    padding-right: calc(100% - 352px);
    padding-top: 14px;
    padding-bottom: 14px;
    transition: color $easing;

    &:hover {
      color: var(--accent-hover);
    }

    &:active {
      color: var(--accent-pressed);
    }
  }
}


.help {
  width: 392px;
  max-width: 100%;
}


.help__desk {
  display: block;
  margin-bottom: 16px;
}



.help__title {
  font-weight: bold;
  font-size: 34px;
  line-height: 48px;
  margin-bottom: 17px;
}


.help__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.help__item {
  border-bottom: 1px solid $divider-main;
}


.help__text-block {
  margin-top: 15px;
}


.help__icon-message {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}