.counter {
  color: $text-main;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  &__amount {
    width: 44px;
    user-select: none;
  }
  &__btn {
    width: 36px;
    height: 36px;
    border: 1px solid $border;
    background: transparent;
    cursor: pointer;
    border-radius: 1px;
    display: flex;
    align-items: center;
    text-align: center;
    & svg {
      fill: $icon;
      transition: fill $easing;
      width: 24px;
      height: 24px;
      pointer-events: none;
    }
    &:disabled {
      pointer-events: none;
      border-color:  #444454;
      opacity: 0.4;
      & svg {
        fill: $text-disabled;
      }
    }
    &:hover {
      svg {
        fill: $white;
      }
    }
  }
}
