.order-type {
  display: flex;
  align-items: center;
  &__btn {
    color: $text-main;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    background: transparent;
    border: none;
    transition: color $easing, background-color $easing, transform $easing;
    padding: 10px 12px;
    border-radius: 3px;
    &:hover {
      background: $bg-inputs-light;
    }
    &:active {
      background: $bg-inputs;
    }
    &_pickup {
      &.active {
        background: $accent-take-in;
        color: $white;
      }
    }
    &_delivery {
      &.active {
        background: $accent-delivery;
        color: $text-contrast;
      }
    }
  }

}
