// OrderList


.order-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  
  @media (min-width: $md) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


.order-list__item {
  margin-bottom: 35px;

  @media (min-width: $md) {
    margin-bottom: 27px;
    padding-bottom: 31px;
    border-bottom: 1px solid $divider-main;

    &:last-of-type {
      border-bottom: none;
    }
  }
}