// CartSpoiler

.cart-spoiler {
  margin-top: 4px;

  &__list {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__subtitle {
    color: #999999;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    display: inline-block;
  }

  &__text {
    color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
  }

  &__text-wp + &__subtitle-wp {
    margin-top: 4px;
  }

  &__control-open {
    cursor: pointer;
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__array {
    transform: rotate(-180deg);
    transition: transform $easing;
    fill: $icon-secondary;
    width: 10px;
    margin-left: 6px;
    display: inline-flex;
  }

  &__array_open {
    transform: rotate(0);
  }

  &__toggled-content {
    overflow: hidden;
    transition: max-height $easing;
    padding: 0 1px;
  }
}
