.burger-order-type {
  padding: 8px 0;
  border-top: 1px solid $divider-main;
  border-bottom: 1px solid $divider-main;
  &__link {
    transition: color $easing;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
  }
  &__icon {
    fill: currentColor;
    transition: fill $easing;
    margin-right: 16px;
    width: 24px;
    height: 24px;
    min-width: 24px;
  }

  &_delivery {
    color: $accent-delivery;
    &:hover {
      color: $accent-delivery-hover;
    }
    &:active {
      color: $accent-delivery-pressed;
    }
  }
  &_pickup {
    color: $accent-take-in;
    &:hover {
      color: $accent-take-in-hover;
    }
    &:active {
      color: $accent-take-in-pressed;
    }
  }
}
