// StoriesModal

.stories-modal {
  &__content {
    max-width: 489px;
    background: $bg-surface;
    padding: 0;
    margin: 0 auto;
  }

  padding-top: 0;

  .modal__close {
    z-index: 10;
  }

  @include media-breakpoint-up(sm) {
    &__content {
      background: none;
    }
    .modal__close {
      right: 27px;
    }
  }
}
