.product-category {
  padding-bottom: 32px;
  &__title {
    font-weight: 900;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 28px;
    margin-top: 0;
  }
  &__grid {
    --items-count: 2;
    --grid-gaps-x: 16px;
    --grid-gaps-y: 16px;
    @include media-breakpoint-up(sm) {
      --grid-gaps-x: 24px;
      --grid-gaps-y: 24px;
      --items-count: 2;
    }
    @include media-breakpoint-up(xl) {
      --items-count: 3;
    }
    @media (min-width: 1440px) {
      --items-count: 4;
    }
    @media (min-width: 1878px) {
      --items-count: 5;
    }
  }

  @include media-breakpoint-up(md) {
    padding-bottom: 16px;
    &__title {
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 24px;
    }
  }
}
