.nav-card {
  display: block;
  transition: transform 2s, opacity $easing;
  position: relative;

  &:hover {
    transition: transform 1s, opacity $easing;
    opacity: .9;
    z-index: 5;
  }

  &__image {
    width: 100%;
    border-radius: 2px;
  }
  &__text {
    font-size: 14px;
    line-height: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    & + & {
      margin-top: 12px;
    }
  }

  @include media-breakpoint-up(sm) {
    &__text {
      font-size: 18px;
      line-height: 28px;
      & + & {
        margin-top: 8px;
      }
    }
  }
}

// .parallax-inner {
//   transition: transform .5s ease-out;
// }
