// OrderItem



.order-item {
  color: $text-main;
  display: flex;
}


.order-item__icon {
  background-color: $bg-surface;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 16px;
  margin-top: 3px;

  @media (min-width: $md) {
    margin-right: 24px;
    margin-top: 4px;
  }

  &_light {
    background-color: $bg-inputs-light;
  }

  svg {
    fill: $accent-take-in-main;
  }

  &_delivery {
    svg {
      fill: $accent-delivery;
    }
  }
}


.order-item__title {
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 1px;

  @media (min-width: $md) {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 0;
  }
}


.order-item__full-date {
  font-size: 14px;
  line-height: 20px;
  color: $text-secondary;

  @media (min-width: $md) {
    font-size: 16px;
    line-height: 26px;
  }
}


.order-item__date {
  margin-right: 10px;
}


.order-item__price-wp {
  display: block;
  margin-right: 0;
  margin-left: auto;
  text-align: right;
}

.order-item__price {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  display: block;

  @media (min-width: $md) {
    font-size: 18px;
    line-height: 28px;
  }
}

.order-item__status {
  display: block;
  font-size: 14px;
  line-height: 20px;
  margin-top: 2px;
  color: $text-secondary;
  text-transform: lowercase;
}
