.product-card {

  color: $white;
  background-color: $bg-surface;
  transition: background-color $easing;
  cursor: pointer;
  border-radius: 1px;
  -webkit-tap-highlight-color: transparent;
  &:hover {
    background-color: lighten($bg-surface, 3%);
  }
  &:active {
    background-color: darken($bg-surface, 2%);
  }
  &__clock-icon {
    & circle {
      fill: var(--accent);
    }
    & path {
      fill: var(--text-contrast)
    }
  }
  &__preview {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 161px;
  }
  &__img {
    max-height: calc(100% - 25px);
    max-width: calc(100% - 25px);
  }

  &__info {
    padding: 12px 12px 16px;
  }
  &__name {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    p {
      margin: 0;
    }
  }
  &__weight {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
    margin-top: 4px;
  }

  &__price {
    font-weight: 900;
    display: flex;
    align-items: center;
  }

  @include media-breakpoint-up(sm) {
    &__preview {
      height: 188px;
    }
    &__img {
      max-height: calc(100% - 25px);
    }
    &__name {
      margin-bottom: 4px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
    }
    &__weight {
      margin: 0;
      font-size: 14px;
      line-height: 16px;
    }
    &__footer {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
    &__info {
      padding: 13px 16px 16px;
    }
    &__price {
      font-size: 20px;
      line-height: 24px;
      font-weight: 800;
    }
  }
}


.product-card__action {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  min-width: 24px;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: transparent;
  cursor: pointer;
  transition: opacity $easing;
  margin-left: 8px;
  color: var(--accent);
  & svg {
    fill: currentColor;
    height: 100%;
    width: 100%;
  }
  &:hover {
    opacity: .8;
  }
  &:active {
    opacity: .6;
  }
}
