.product-card {
  &_gradient {
    background: $brand-violet-gradient no-repeat;
    background-size: 100% 100%;
    transition: background $easing;

    &:hover {
      background-size: 150% 150%;
    }
    &:active {
      background-size: 120% 120%;
    }
  }
  &_gradient & {
    &__action {
      color: $white;
    }
  }

  &_yellow {
    background-color: $accent-delivery;
    color: $black;
    &:hover {
      background-color: darken($accent-delivery, 10%);
    }
    &:active {
      background-color: darken($accent-delivery, 15%);
    }
  }
  &_yellow & {
    &__action {
      color: $black;
    }
  }

  &_violet {
    background-color: $brand-violet;
    &:hover {
      background-color: lighten($brand-violet, 3%);
    }
    &:active {
      background-color: darken($brand-violet, 2%);
    }
  }
  &_violet & {
    &__action {
      color: $white;
    }
  }

  &_pink {
    background-color: $accent-take-in;
    &:hover {
      background-color: lighten($accent-take-in, 3%);
    }
    &:active {
      background-color: darken($accent-take-in, 2%);
    }
  }
  &_pink & {
    &__action {
      color: $white;
    }
  }

  &_white {
    background-color: $white;
    color: $black;
    &:hover {
      background-color: darken($white, 15%);
    }
    &:active {
      background-color: darken($white, 30%);
    }
  }
  &_white & {
    &__action {
      color: $black;
    }
  }
}
