.nav-card-list {
  margin-bottom: 60px;

  &__masonry-grid {
    --grid-gaps: 0px;
    --items-count: 2;
    --grid-gaps-y: 40px;
  }

  @include media-breakpoint-up(md) {
    &__masonry-grid {
      --grid-gaps-x: 24px;
      --grid-gaps-y: 30px;
      --items-count: 3;
    }
  }

  &--transition {
    .parallax-inner {
      transition: transform 0.5s ease-out;
    }
  }
}
