/* This fires as soon as the element enters the dorm */
.fade-enter,
.fade-appear {
  opacity: 0;
}

/* This is where we can add the transition*/
.fade-enter-active,
.fade-appear-active {
  opacity: 1;
  transition: opacity $slow-easing;
}

/* This fires as soon as the this.state.showList is false */
.fade-exit {
  opacity: 1;
}

/* fires as element leaves the DOM*/
.fade-exit-active {
  opacity: 0;
  transition: opacity $slow-easing;
}



.slide-from-top-enter,
.slide-from-top-appear {
  transform: translateY(-200%);
  opacity: 0;
  transition: opacity $slow-easing, transform $slow-easing;
}
.slide-from-top-enter-active,
.slide-from-top-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity $slow-easing, transform $slow-easing;
}
.slide-from-top-exit {
  opacity: 1;
  transform: translateY(0);
}
.slide-from-top-exit-active {
  opacity: 0;
  transform: translateY(-200%);
  transition: opacity $slow-easing, transform $slow-easing;
}





.side-enter,
.side-appear {
  transform: translateX(100%);
}

.side-enter-active,
.side-appear-active {
  transform: translateX(0);
  transition: transform $easing;
}

.side-exit {
  transform: translateX(0);
}

.side-exit-active {
  transform: translateX(100%);
  transition: transform $easing;
}



// .side-enter,
// .side-appear {
//   right: -100%;
// }

// .side-enter-active,
// .side-appear-active {
//   right: 0%;
//   transition: right $easing;
// }

// .side-exit {
//   right: 0%;
// }

// .side-exit-active {
//   right: -100%;
//   transition: right $easing;
// }


