html, body {
  font-family: $ff-p;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  overflow-x: hidden;
  background: $bg-main;
  color: $text-main;
  @include media-breakpoint-up(lg) {
    --px: 40px !important;
  }
}

*, *:before, *:after, hr {
  box-sizing: border-box;
}

.page {
  overflow: hidden;
}


.container {
  width: 100%;
  max-width: 1304px;
  margin: 0 auto;
  padding-left: var(--px);
  padding-right: var(--px);
  height: 100%;
  transition: max-width .5s ease-in-out;
}

a {
  text-decoration: none;
  color: unset;
}
//
//* {
//  &:focus {
//    outline: 1px dashed #FDE936;
//  }
//  &:active {
//    outline-color: transparent;
//  }
//}
*:focus {
  outline: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration,
input::-ms-clear {
  -webkit-appearance:none;
}
