.grid {
  --items-count: 4;
  --item-margin-x: 24px;
  --item-margin-y: 24px;

  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--item-margin-x) * -1);
  width: calc(100% + var(--item-margin-x) * 2);
  &__item {
    width: calc(100% / var(--items-count) - (var(--item-margin-x) * 2));
    margin: var(--item-margin-y) var(--item-margin-x);
  }
}
