.page-title {
  font-weight: 900;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 40px;
  margin-top: 32px;

  @include media-breakpoint-up(md) {
    font-size: 46px;
    line-height: 60px;
    margin-top: 22px;
    margin-bottom: 20px;
  }
}
