$dashed: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%2332D74BFF' stroke-width='4' stroke-dasharray='4%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");

$easing: .2s linear;
$fast-easing: .1s linear;
$slow-easing: .3s linear;

// fonts
$ff-p: 'Inter',
'IBM Plex Sans',
'Roboto',
'Helvetica',
'Arial',
sans-serif;

$ff-s: 'IBM Plex Sans',
'Roboto',
'Helvetica',
'Arial',
sans-serif;

// Путь к директории изображений для подключения через scss
$image_dir: '../images/';



// breakpoints
$sm: 569px;
$md: 769px;
$lg: 1025px;
$xl: 1281px;
$xxl: 1441px;

$grid-breakpoints: (xs: 0,
sm: $sm,
md: $md,
lg: $lg,
xl: $xl,
xxl: $xxl) !default;


// colors
$white: #FFF;
$black: #000;


// brand
$brand-yellow: #fde936;
$brand-blue: #A3D8F5;
$brand-pink: #e54190;
$brand-violet: #652980;
$brand-violet-gradient: linear-gradient(225deg, $brand-pink 25%, $brand-violet 75%);


//
$success: #32D74B;
$error: #E24141;
$notify: #FFD60A;


// delivery
$accent-delivery: $brand-yellow;
$accent-delivery-hover: #FDEC54;
$accent-delivery-pressed: #d7c62e;
$shade-delivery: rgba($black, 0.8);



:root {
  --px: 16px;
  --accent: #fde936;
  --accent-rgb: 253, 233, 54;
  --accent-hover: #fdec54;
  --accent-hover-rgb: 253, 236, 84;
  --accent-pressed: #D7C62E;
  --accent-pressed-rgb: 215, 198, 46;
  --shade: rgba($black, .8);
  --text-contrast: #121212;

  --story-height: 100vh;
  --story-width: 100vw;
  @media (min-width: $sm) {
    --story-width: 386px;
    --story-height: 690px;
  }

  --modal-width: 100vw;
  --modal-width-desktop: 560px; // изменяется через js в компоненте SideModal
}

// take-in
$accent-take-in-main: #e0207d;
$accent-take-in: $brand-pink;
$accent-take-in-hover: #fc61b0;
$accent-take-in-pressed: #be1b6a;
$shade-take-in: rgba($black, .8);


// text
$text-main: rgba($white, 0.9);
$text-secondary: rgba($white, 0.54);
$text-contrast: #121212;
$text-disabled: rgba($white, 0.38);


// bg
$bg-main: #1f2023;
$bg-surface: #27292D;
$bg-inputs: #2D2F34;
$bg-inputs-light: #383B40;


// icon
$icon: rgba($white, 0.8);
$icon-secondary: rgba($white, 0.4);
$icon-contrast: #121212;


// lines
$border: #444454;
$divider-main: #3B3E47;
$divider-light: #E5E5EB;


// social
$social-vk: #4D75A2;
$social-ok: #EE8208;
$social-fb: #0561AF;
$social-twitter: #00BFF3;
$social-dribble: #EA4C89;
$social-behance: #0057FF;
$social-whatsup: #57BB63;
$social-telegram: #2FA7D9;
$social-viber: #8F5DB7;


$mobile-padding: 16px;


/*
Шпаргалка
***********
@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(xl) {}
*** ***
@include media-breakpoint-up(sm)
@include media-breakpoint-down(sm)
@include media-breakpoint-only(sm)
@include media-breakpoint-between(sm, md)

************
font-weight
100	- Thin (Hairline) - Тонкий (Волосяной)
200	- Extra Light (Ultra Light) - Дополнительный светлый (Сверхсветлый)
300	- Light - Светлый
400	- Normal - Нормальный
500	- Medium - Средний
600	- Semi Bold (Demi Bold) - Полужирный
700	- Bold Жирный
800	- Extra Bold (Ultra Bold) - Дополнительный жирный (Сверхжирный)
900	- Black (Heavy) - Черный (Густой)
*/
