.address {
  --street-fz: 16px;
  --street-lh: 24px;
  --detail-fz: 14px;
  --detail-lh: 20px;

  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;

  &__info {
    width: 100%;
  }
  &__building {
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }
  &__edit {
    width: 16px;
    height: 16px;
    margin-left: 16px;
    fill: $icon-secondary;
    transition: fill $easing;
    cursor: pointer;
    &:hover {
      fill: $icon;
    }
  }
  &__street {
    display: inline-block;
    color: $text-main;
    font-size: var(--street-fz);
    line-height: var(--street-lh);
    margin-bottom: 4px;
  }
  &__text {
    font-size: var(--detail-fz);
    line-height: var(--detail-lh);
    color: $text-secondary;
    & + & {
      &:before {
        content: '';
        background: currentColor;
        width: 3px;
        height: 3px;
        margin: 0 6px;
        border-radius: 50%;
        line-height: 100%;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }  
}
