.cart-btn {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 0 16px;
  z-index: 1;
  background: var(--accent);
  transition: background-color $easing;
  color: var(--text-contrast);
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover {
    background: var(--accent-hover);
  }
  &:active {
    background: var(--accent-pressed);
  }

  &__status {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__icon {
    fill: currentColor;
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  &__order-price {
    display: flex;
    align-items: center;
  }

  &__price {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
  }

  &__time {
    padding: 9px 12px;
    background: rgba($black, .05);
    font-size: 14px;
    line-height: 20px;
  }

}