.main-logo {
  color: $white;
  transition: color $easing;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: $ff-p;
  text-transform: uppercase;
  height: 100%;
  display: inline-flex;
  align-items: center;
  &:hover {
    color: var(--accent);
  }
  &:active {
    opacity: .9;
  }
  &__text {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      height: 2px;
      width: 37px;
      background: currentColor;
      bottom: -2px;
      right: 0;
    }
  }
}