// YourOrder



.your-order {
  margin-top: 40px;

  @media (min-width: $md) {
    margin-top: 56px;
    // padding-bottom: 37px;
  }
}



.your-order__list {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
  margin-bottom: 19px;

  border-bottom: 1px dashed $divider-main;
}


.your-order__wrap {
  display: flex;
  justify-content: space-between;

  &>:last-child {
    margin-left: 20px;
  }
}


.your-order__item {
  margin-bottom: 16px;
}


.your-order__name {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.your-order__sum {
  font-size: 16px;
  line-height: 24px;
}

.your-order__full-price {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}


.your-order__desc {
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.54);
}

.your-order__discount {
  margin-top: 7px;
  margin-bottom: 0;
}