//DeliveryAddress 

.delivery-address {
  --vertival-margin: 24px;
  --large-vertical-margin: 32px;


  @include media-breakpoint-up(md) {
    --vertival-margin: 32px;
    --large-vertical-margin: 40px;
  }


  .radio-button {
    --padding: 10px 5px;

    @media (min-width: $md) {
      --padding: 18px 5px;
    }
  }


  .add-address__section {
    @media (min-width: $md) {
      vertical-align: top;

      &:nth-child(2),
      &:nth-child(3) {
        display: inline-flex;
        width: calc(50% - 12px);


        .input__fluid {
          padding-left: 10px;
          padding-right: 10px;
        }
      }

      .radio-group {
        width: 100%;
      }

      &:nth-child(2) {
        margin-right: 0;
        margin-right: 24px; 
      }
    }
  }

  .add-address__section_large-margin {
    margin-bottom: var(--large-vertical-margin);
  }

  .circle-radio+.circle-radio {
    @media (min-width: $lg) {
      margin-top: 24px;
    }
  }

  .textarea {
    @media (min-width: $md) {
      min-height: 120px;
    }
  }
}


// ****

.delivery-address__title {
  margin-top: 0;
  margin-bottom: 25px;

  @media (min-width: $md) {
    margin-bottom: 32px;
  }
}


.delivery-address__by-what-time {
  margin-top: 37px;

  @media (min-width: $md) {
    margin-top: 53px;
  }
}

.delivery-address__buttons {

  @media (min-width: $md) {
    margin-top: 48px;
  }
}


.delivery-address__next {
  margin-top: 24px;

  @media (min-width: $md) {
    margin-top: 0;
  }
}


.delivery-address__help {
  margin-top: 40px;

  @media (min-width: $md) {
    margin-top: 0;
  }
}