.sticky-sticker {
  //pointer-events: none;

}

.sticker {
  width: 50px;
  height: 50px;
  position: absolute;
  transform-origin: center;
  cursor: pointer;
  &:hover {
    & img {
      transform: scale(1.05);
    }
  }
  &:active {
    & img {
      transition: none;
      transform: scale(1);
    }
  }

  & img {
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: transform $easing;
  }
  & img.loaded {
    opacity: 1;
    animation: .3s bounce linear;
  }


  @include media-breakpoint-up(md) {
    width: 66px;
    height: 66px;
  }
}

@keyframes bounce {
  0% {
    transform: scale(.3);
    //width: 30%;
  }
  40% {
    transform: scale(1.1);
    //width: 110%;
  }
  70% {
    transform: scale(.9);
    //width: 90%;
  }
  100% {
    transform: scale(1);
    //width: 100%;
  }
}
