// AverageDeliveryTime


.average-delivery-time {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: $text-secondary;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $md) {
    font-size: 16px;
    line-height: 26px;
  }
}


.average-delivery-time__text {

  &+& {
    &:before {
      content: '';
      background: currentColor;
      width: 4px;
      height: 4px;
      margin: 0 10px;
      border-radius: 50%;
      line-height: 100%;
      display: inline-block;
      vertical-align: middle;

      @media (min-width: $md) {
        margin: 0 11px;
      }
    }
  }
}