// 


.order-status__order {
  padding-bottom: 20px;

  @media (min-width: $md) {
    padding-bottom: 24px;
  }
}

.order-status__statuses {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 12px;
  padding-bottom: 12px;

  @media (min-width: $md) {
    margin-top: 20px;
    padding-bottom: 18px;
  }
}

.order-status__address {
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  padding-bottom: 18px;
  
  .address__building {
    margin-right: 25px;
  }
  
  @media (min-width: $md) {
    padding-bottom: 24px;
    margin-left: 0;
    margin-right: 0;

    .address__street {
      font-weight: bold;
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 0;
    }

    .address__text {
      font-size: 16px;
    }
  }
}

.order-status__average-time {
  margin-top: 18px;
  margin-left: 30px;
  
  @media (min-width: $md) {
    margin-top: 16px;
    margin-left: 0;

  }
}