.page {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  background: $black;

  &__content {
    flex: 1 0 auto;
  }
  @media (min-width: $md) {
    background: $bg-main;
    &__content {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

  transition: margin-left $easing, margin-right $easing;

  &.page--slide {
    margin-left: calc(var(--modal-width) * -1);
    margin-right: var(--modal-width);

    @include media-breakpoint-up(lg) {
      margin-left: calc(var(--modal-width-desktop) * -1);
      margin-right: var(--modal-width-desktop);
    }
  }
}
