//  


.stop-modal__content {
  @media (min-width: $sm) {
    max-width: 808px;
  }
}


.stop-modal__title {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 900;
  font-size: 28px;
  line-height: 36px;

  @media (min-width: $md) {
    font-size: 46px;
    line-height: 60px;
  }
}


.stop-modal__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;

  margin-left: 24px;
  margin-top: 40px;
  margin-bottom: 24px;

  @media (min-width: $md) {
    margin-bottom: 33px;
    margin-left: 20px;
  }
}


.stop-modal__item {
  border: 1px solid $border;
  background-color: $bg-inputs;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 120px;

  margin-left: -24px;

  @media (min-width: $md) {
    margin-left: -20px;
    height: 100px;
    width: 100px;
  }
}


.stop-modal__img {
  max-height: 100%;
  max-width: 100%;
  flex-shrink: 0;
}


.stop-modal__paragraph {
  text-shadow:
    $black 1px 0px 0px,
    $black 0.540302px 0.841471px 0px,
    $black -0.416147px 0.909297px 0px,
    $black -0.989992px 0.14112px 0px,
    $black -0.653644px -0.756802px 0px,
    $black 0.283662px -0.958924px 0px,
    $black 0.96017px -0.279415px 0px;
  margin-top: 0;
  margin-bottom: 55px;
  line-height: 24px;

  @media (min-width: $md) {
    font-size: 18px;
    line-height: 28px;
  }
}

.stop-modal__text {
  display: block;
}


.stop-modal__buttons {
  margin-top: auto;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $md) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.stop-modal__btn {
  &+& {
    margin-top: 24px;

    @media (min-width: $md) {
      margin-top: 0;
    }
  }
}