// RecommendProducts

.recommend-products {
  &__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    // margin-top: 0;
    margin-bottom: 24px;
  }
  &__list {
    list-style: none;
    height: auto;
    position: relative;
    display: flex;
    align-items: stretch;
    list-style: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    margin: 0 -16px;
    padding: 15px 16px;
  }
  &__item {
    margin-right: 8px;
    &:last-of-type {
      padding-right: 16px;
    }
  }
}
