.cart {
  width: var(--cart-width);
  background: $bg-surface;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  overflow: auto;
  height: 100vh;
  max-height: 768px;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  &__empty-text {
    font-size: 16px;
    line-height: 26px;
    color: $text-secondary;
    text-align: center;
    margin: auto;
    max-width: 200px;
  }
  &__title {
    margin-top: 24px;
    font-weight: 900;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 32px;
    padding-left: 16px;
  }
  &.sticky {
    position: fixed;
    top: 0;
    right: 0;
  }
  &__products {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__child {
    padding-left: 16px;
    padding-right: 16px;
  }
  @include media-breakpoint-up(md) {
    &__title {
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
    }
  }
}
