// OrderBtn

.order-btn {
  --margin: 16px;

  position: sticky;
  bottom: 0;
  margin-top: auto;
  margin-bottom: 0;
  z-index: 1;

  width: calc(100% + var(--margin) + var(--margin));
  transform: translateX(calc(var(--margin) * -1));

  &__text {
    font-size: 14px;
    line-height: 20px;
    color: var(--text-contrast);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    user-select: none;
  }
  &__time {
    left: 16px;
  }
  &__price {
    right: 16px;
  }
  &__target {
    height: 60px;
  }

  @include media-breakpoint-up(lg) {
    width: 100%;
    transform: none;
  }
}
