.circle-radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: opacity $easing;

  &_disabled {
    opacity: 0.3 !important;
    cursor: default;
  }
  &:hover {
    opacity: 0.9;
  }
  &:active {
    opacity: 0.7;
  }
  & + & {
    margin-top: 16px;
  }
  &__input {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  &__text {
    margin-left: 18px;
    font-size: 16px;
    line-height: 24px;
    color: $text-main;
  }
  &__prompt {
    color: $text-secondary;
  }
  &__circle {
    width: 20px;
    height: 20px;
    min-width: 20px;
    border-radius: 50%;
    background: $border;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &:before {
      content: "";
      width: 10px;
      height: 10px;
      background: var(--accent);
      opacity: 0;
      transition: opacity $easing;
      border-radius: 50%;
    }
    &.active {
      &:before {
        opacity: 1;
      }
    }
  }
}
