// CodeIntroduction

.code-introduction {
  .input__fluid {
    padding-top: 12px;
  }
}
.code-introduction__form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 27px;
  padding-left: 8px;
  position: relative;

  @media (min-width: $md) {
    padding-left: 16px;
  }
}

.code-introduction__input {
  margin-right: 24px;

  &:last-of-type {
    margin-right: 0;
  }
}

.code-introduction__error-text {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $error;
  margin-top: 4px;
  width: 100%;
  max-width: 100%;
  display: block;
}

.code-introduction__input-wrapper {
  display: flex;
}

.code-introduction__text {
  margin-bottom: 0.2em;
}

.code-introduction__btn {
  margin-top: 24px;
}

.code-introduction__change {
  transition: color $easing;
  color: var(--accent);

  &:hover {
    color: var(--accent-hover);
  }
  &:active {
    color: var(--accent-pressed);
  }
}
