.use-coupon {

  &__title {
    font-weight: 900;
    font-size: 28px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 32px;
  }

  &__input-wrapper {
    flex-direction: column;
    & input {
      width: 100%;
    }
    & .add-coupon__btn {
      margin-top: 24px;
    }
  }

  &__cart-btn {
    position: sticky;
    bottom: 12px;
    margin-top: auto;
  }
}
