// PromotionCard

.promotion-card {
  --height: 189px;
  --width: 136px;
  --height-lg: 222px;
  --width-lg: 160px;

  cursor: pointer;
  height: auto;
  max-height: var(--height);
  width: var(--width);
  display: flex;
  align-items: center;
  justify-content: center;
  @include media-breakpoint-up(lg) {
    max-height: var(--height-lg);
    width: var(--width-lg);
  }
  &__preview{
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    transition: opacity $easing;
    &:hover {
      opacity: 0.9;
    }
    &:active {
      opacity: 0.8;
    }
  }
  &__img  {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    flex-shrink: 0;
  }
}
