// Product

.product {
  margin-bottom: 20px;
  &.hidden {
    display: none;
  }
  &__img-wp {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__img {
    max-width: 100%;
    max-height: 100%;
    flex-shrink: 0;
  }
  &__title {
    font-weight: 900;
    font-size: 28px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 0;
  }
  &__desc {
    margin-top: 12px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
  }
  &__weight {
    display: block;
    margin-top: 12px;
    font-size: 16px;
    line-height: 24px;
    color: $text-secondary;
  }

  &__spoiler {
    margin-top: 24px;
    padding-bottom: 16px;
    .spoiler__content  {
      padding-top: 16px;
      padding-bottom: 0;
    }
    .spoiler__title {
      font-weight: 800;
      font-size: 20px;
      line-height: 24px;
    }
    .spoiler__btn-open {
      @media (min-width: $md) {
        height: 42px;
      }
    }
    @include media-breakpoint-up(lg) {
      padding-top: 15px;
    }
    & + & {
      margin-top: 0;
    }
  }

  &__icon {
    height: 24px;
    width: 24px;
    flex-shrink: 0;
    margin-left: 5px;
    margin-right: auto;
    &_error {
      fill: $error;
    }
    &_done {
      fill: $success;
    }
    &_white {
      fill: $white;
    }
  }
}
