.comment-checkbox {
  background: $bg-inputs;
  border-radius: 16px;
  margin-bottom: 12px;
  margin-right: 8px;
  padding: 4px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: opacity $easing;
  &:hover {
    opacity: .8;
  }
  &:active {
    opacity: .6;
  }
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
  }

  &__fake-checkbox {
    width: 20px;
    height: 20px;
    min-width: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $icon-secondary;
    border-radius: 50%;
    margin-left: 6px;
    &.active {
      border: none;
    }
  }
  &__icon {
    fill: var(--accent);
    height: 28px;
    width: 28px;
    min-width: 28px;
    display: block;
    &-wrapper {
      height: 20px;
      max-height: 20px;
      width: 20px;
      margin-left: 6px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
