.coupons {
  background: $bg-main;
  width: 100vw;
  margin-right: calc(var(--px) * -1);
  margin-left: calc(var(--px) * -1);
  padding-top: 32px;
  padding-bottom: 24px;
  margin-top: 31px;

  &__not-auth-card {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    height: 360px;
    & .not-auth {
      margin: auto;
      padding: 0 30px;
      &__title {
        margin-bottom: 18px;
        margin-top: 0;
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
      }
      &__text {
        margin: 0;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
      }
    }
  }

  &__title {
    text-align: center;
    font-weight: 900;
    font-size: 28px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 28px;
    color: $white;
  }

  &__buttons {
    margin-top: 54px;
    padding-right: 16px;
    padding-left: 16px;
  }

  &__divider {
    height: 0;
    border: none;
    border-top: 1px dashed $divider-main;
    margin: 24px 0;
  }

  @include media-breakpoint-up(md) {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    background: $bg-surface;
    padding: 40px;
    border-radius: 4px;
    &__not-auth-card {
      margin-left: 0;
    }
    &__divider {
      display: none;
    }
    &__title {
      text-align: left;
      margin-bottom: 33px;
    }
    &__buttons {
      display: flex;
      margin-top: 32px;
      padding: 0;
      & .btn + .btn {
        margin-left: 24px;
      }
    }
  }
}