// ProfileNotifications



// profile-notifications


.profile-notifications {



  // *** для проверки
  // margin-left: 16px;
  // margin-right: 16px;


  // *** для проверки min-width: $md
  // max-width: 600px;
  // margin-left: 71px;
}


.profile-notifications__checkbox {
  margin-left: 3px;
}