// Additive

.additive {
  background-color: $bg-inputs;
  border-radius: 8px;
  width: 100%;
  min-height: 145px;
  height: 100%;
  text-align: center;
  padding: 8px 14px;
  &__img-wp {
    height: 64px;
    width: 64px;
    margin-right: auto;
    margin-left: auto;
  }
  &__img {
    max-width: 100%;
    max-height: 100%;
  }
  &__title {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    margin-top: 0;
    margin-bottom: 8px;
  }
  &__title + &__price {
    margin-top: -8px;
  }
  &__price {
    display: block;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 8px;
  }

  &.disabled {
    pointer-events: none;
  }
}
