.header-nav {
  display: inline-flex;
  align-items: center;
  height: 100%;

  &__item {
    color: $white;
    padding: 27px 16px 25px;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    transition: color $easing;
    &:hover {
      color: var(--accent-hover);
    }
    &:active {
      color: var(--accent-pressed);
    }
    &.active {
      color: var(--accent);
    }
  }
}
