// Pickup


.pickup__radio-group {
  width: 100%;

  .address__edit {
    margin-right: 0;
    margin-left: auto;
  }


  .circle-radio+.circle-radio {
    @media (min-width: $md) {
      margin-top: 24px;
    }
  }
}

.pickup__title {
  margin-top: 0;
  margin-bottom: 23px;

  @media (min-width: $md) {
    margin-bottom: 32px;
  }
}

.pickup__title-address {
  margin-bottom: 6px;

  @media (min-width: $md) {
    margin-bottom: 25px;

  }
}

.pickup__address-wp {
  margin-bottom: 41px;

  @media (min-width: $md) {
    margin-bottom: 56px;

  }
}


.pickup__time-wp {
  margin-bottom: 49px;

  @media (min-width: $md) {
    margin-bottom: 72px;
  }
}

.pickup__next {
  margin-top: 49px;

  @media (min-width: $md) {
    margin-top: 40px;
  }
}

.pickup__help {
  margin-top: 40px;

  @media (min-width: $md) {}
}
