.communications {
  &__item {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    transition: opacity $easing;
    padding: 15px 0 17px;
    &:active {
      opacity: .8;
    }
  }
  &__icon {
    fill: $icon;
    width: 24px;
    min-width: 24px;
    height: 24px;
    margin-right: 16px;
  }


  @include media-breakpoint-up(md) {
    &__item {
      padding: 9px 0 9px;
      &:hover {
        opacity: .8;
      }
      &:active {
        opacity: .6;
      }
    }
  }
}
