// Modal
.modal {
  overflow: auto;
  z-index: 3;

  &,
  &__overlay {
    position: fixed;
    width: 100vw;
    height: 100%;
    left: 0;
    top: 0;
  }

  &__overlay {
    z-index: -1;
    background: rgba($black, .8);
  }

  &__content {
    width: 100vw;
    min-height: 100vh;

    background: $bg-main;
    color: $white;
    max-width: 100%;
    position: relative;
    padding: 80px 16px 24px 16px;
    display: flex;
    flex-direction: column;

    @media (min-width: $sm) {
      width: 100%;
      min-height: 1px;
      max-width: 1016px;
      display: block;
      margin: 74px auto;
      padding: 80px 100px;
    }
  }

  &__close {
    height: 24px;
    width: 24px;
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
    transition: fill $easing;
    fill: $icon-secondary;

    &:hover {
      fill: $icon;
    }

    &:active {
      fill: $white;
    }
  }
}