// HelpProblems

.help-problems {
  &__title {
    font-weight: 900;
    font-size: 28px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 0;
  }
  &__list {
    list-style: none;
    padding-left: 0;
    margin-top: 32px;
  }
  &__item {
  }

  &__link {
    cursor: pointer;
    border-bottom: 1px solid #3b3e47;
    font-size: 16px;
    line-height: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: block;
    transition: color $easing;

    &:hover {
      color: $text-secondary;
    }
    &:active {
      color: $text-disabled;
    }
  }

  @include media-breakpoint-up(lg) {
    &__title {
      font-size: 46px;
      line-height: 60px;
    }
    &__list {
      margin-top: 30px;
    }
    &__item {
      margin-top: 5px;

      &:first-of-type {
        margin-top: 0;
      }
    }
    &__link {
      font-size: 18px;
      line-height: 28px;
      padding-top: 11px;
      padding-bottom: 11px;
    }
  }
}
