// HelpOrderForm

.help-order-form {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
  height: auto;

  &__title {
    margin-bottom: 32px;
  }

  &__textarea-wp ,
  &__input {
    margin-bottom: 24px;
  }

  &__textarea {
    min-height: 130px;

    &::placeholder {
      font-size: 1em;
      padding-top: 0.25em;
    }
  }

  &__btn {
    margin-top: auto;
    margin-bottom: 0;
  }

  @include media-breakpoint-up(lg) {
    min-height: 1px;
    &__title {
      margin-bottom: 40px;
    }
  }
}
