.contact {
  display: flex;
  flex-direction: column;
  &__title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
  }
  &__description {
    font-family: $ff-s;
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
  }
  &_secondary & {
    &__title {
      margin-top: 12px;
      margin-bottom: 16px;
    }
  }
  @include media-breakpoint-up(md) {
    &__title {
      font-size: 24px;
      line-height: 32px;
      font-weight: 600;
    }
    &__description {
      color: $text-secondary;
      margin-top: -3px;
      margin-bottom: 18px;
      font-size: 14px;
      line-height: 16px;
    }
  }
}
