// LayoutDelivery


.page-delivery__inner {
  @media (min-width: $md) {
    max-width: 600px;
  }
}


.page-delivery__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;

  @media (min-width: $md) {
    font-weight: 600;
    font-size: 34px;
    line-height: 48px;
  }
}


.page-delivery__flex-wrap {
  display: flex;
  flex-direction: column;
  max-width: 100%;

  @media (min-width: $md) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}


.page-delivery__next {
  @media (min-width: $md) {
    width: calc(50% - 12px);
    max-width: calc(50% - 12px);
  }
}


.page-delivery__help {
  @media (min-width: $md) {
    max-width: calc(50% - 12px);
    width: 100%;
  }
}