// ByWhatTime


.by-what-time__title {
  margin-top: 0;
  margin-bottom: 24px;

  @media (min-width: $md) {
    margin-bottom: 32px;
  }
}

.by-what-time__radio-group {}


.by-what-time__fluids {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 17px;

  @media (min-width: $md) {
    justify-content: flex-start;
  }
}


.by-what-time__dropdown {
  // min-width: 151px;
  min-width: 44.2%;
  
  @media (min-width: $md) {
    width: 100%;

  }
}