@import "../OrderType/OrderType";

.header {
  color: $white;
  height: 72px;
  position: relative;
  &__inner-wrapper {
    display: flex;
    height: inherit;
    width: 100%;
  }
  &__nav {
    display: none;
  }
  &__city-picker {
    display: none !important;
    margin-left: 30px;
    margin-right: 40px;
  }
  &__burger-btn {
    margin-right: -16px;
  }
  &__login-btn {
    margin-left: auto;
  }
  &__btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 16px;
    padding-right: 16px;

    & svg, circle {
      width: 23px;
      height: 23px;
      pointer-events: none;
      fill: $white;
      transition: fill $easing;
    }
    &:active {
      & svg, circle {
        fill: var(--accent-pressed) !important;
      }
    }
  }
  @media (min-width: $md) {
    &__login-btn {
      margin-left: 0;
    }
  }
  @media (min-width: $lg) {
    margin-top: 20px;
    &__nav {
      display: block;
    }
    &__login-btn {
      margin-right: -16px;
    }
    &__burger-btn {
      display: none;
    }
    &__city-picker {
      display: flex !important;
    }
    &__btn {
      & svg {
        width: 39px;
        height: 39px;
      }
      &:hover {
        & svg, circle {
          fill: var(--accent-hover) !important;
        }
      }
      &:active {
        & svg, circle {
          fill: var(--accent-pressed) !important;
        }
      }
    }
  }
}


.header__order-type {
  display: none;
  height: 100%;
  margin-right: 12px;
  margin-left: auto;
  & .order-type {
    &__btn_delivery {
      &.active {
        transform: rotate(-5deg);
      }
    }
    &__btn_pickup {
      &.active {
        transform: rotate(5deg);
      }
    }
  }
  @include media-breakpoint-up(md) {
    display: flex;
  }
}