.restaurants {
  max-width: 764px;
  &__search {
    max-width: 600px;
  }
  &__nothing-found {
    color: $text-secondary;
  }
  &__title {
    font-size: 28px;
    line-height: 36px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  &__grid {
    --item-margin-x: 0px;
    --item-margin-y: 0px;
    --items-count: 1;
  }
}
.restaurants {
  @include media-breakpoint-up(sm) {
    overflow-x: hidden;

    &__title {
      font-size: 46px;
      line-height: 60px;
      margin-bottom: 40px;
    }
    &__grid {
      --items-count: 2;
      --item-margin-x: 36px;
      --item-margin-y: 35px;
    }
  }
}
