// CartItem

.cart-item {
  display: flex;
  position: relative;
  &__img-wp {
    height: 80px;
    width: 80px;
    flex-shrink: 0;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__img {
    max-width: 100%;
    height: auto;
    flex-shrink: 0;
  }
  &__content {
    width: 100%;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-top: 16px;
  }

  &__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;
    margin-bottom: 0;
    width: calc(100% - 20px);
  }
  &__price {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    position: relative;

    &_old {
      color: rgba(255, 255, 255, 0.54);
      text-decoration: line-through;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      display: block;
      position: absolute;
      bottom: 100%;
      right: 0;
    }
    &_new {
      display: block;
      margin-bottom: 8px;
      &_discount {
        background: linear-gradient(180deg, #ff59ad 21.48%, #a631ee 66.02%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
      }
    }
    &_old + &_new {
      margin-bottom: 0px;
    }
  }

  &__edit {
    position: absolute;
    top: 12px;
    right: 0;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    fill: $icon-secondary;
    transition: fill $easing;
    cursor: pointer;
    &:hover {
      fill: $icon;
    }
  }

  @include media-breakpoint-up(lg) {
  }
}
