.coupons-slider {
  &:hover & {
    &__btn {
      opacity: 1;
    }
  }

  &__card {
    width: 265px;
    & .coupon-card {
      &__code {
        padding-top: 20px;
        font-size: 28px;
        line-height: 36px;
      }
      &__preview {
        height: 123px;
        margin-top: 20px;
        margin-bottom: 21px;
      }
      &__desc {
        font-size: 14px;
        line-height: 20px;
      }
      &__price {
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        margin-top: 10px;
        margin-bottom: 28px;
      }
      &__btn {
        border-top: 2px dashed $bg-main;
        &:before,
        &:after {
          background: $bg-main;
        }
      }
    }
  }

  &__btn {
    background: var(--accent);
    border-radius: 50%;
    color: $black;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    border: none;
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity $easing;
    &:hover {
      opacity: .8 !important;
    }
    &:active {
      opacity: .6 !important;
    }
    &:disabled {
      opacity: 0 !important;
      pointer-events: none !important;
    }
    &_next {
      right: 48px;
      transform: translateY(-50%) rotate(180deg);
    }
    &_prev {
      left: 48px;
    }
  }
  @include media-breakpoint-up(md) {
    margin: 0 -40px;
    padding: 0 40px;
    width: calc(100% + 80px);
    &__card {
      & .coupon-card {
        &__btn {
          border-top: 2px dashed $bg-surface !important;
          &:before,
          &:after {
            background: $bg-surface !important;
          }
        }
      }
    }
  }
}