.add-address {
  --vertival-margin: 24px;
  --large-vertical-margin: 52px;

  &__modal-content {
    background: $bg-main;
  }

  &__section {
    & + & {
      margin-top: var(--vertival-margin);
    }
    & + &_large-margin {
      margin-top: var(--large-vertical-margin);
    }
  }

  @include media-breakpoint-up(md) {
    --vertival-margin: 32px;
    --large-vertical-margin: 64px;
  }

}