.address-list {
  &__add {
    padding-top: 12px;
    padding-bottom: 12px;
    transition: opacity $easing;
    cursor: pointer;
    display: flex;
    align-items: center;
    &:hover {
      opacity: .4;
    }
    &:active {
      opacity: .8;
    }
  }
  &__add-icon {
    margin-right: 16px;
    width: 25px;
    height: 24px;
    fill: var(--accent);
  }
  &__add-text {
    color: var(--accent);
  }
}