// MainPageHeader


.main-page-header {
  margin-bottom: 100px; // ***
  max-width: 830px;
}


.main-page-header__title {
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 36px;

  @media (min-width: $md) {
    font-size: 64px;
    line-height: 78px;
    margin-top: 7px;
    margin-bottom: 72px;
    letter-spacing: -1.2px;
  }
}


.main-page-header__btn {
  @media (min-width: $md) {
    font-size: 30px;
    line-height: 39px;
    padding: 0 52px;
    height: 98px;
  }
}


.main-page-header__delivery {
  background: $brand-yellow;
  color: $black;
  transform: rotate(-2.51deg) translateX(8px);

  &:hover {
    background: $accent-delivery-hover;
  }

  &:active {
    background: $accent-delivery-pressed;
  }

  @media (min-width: $sm) {
    margin-right: 38px;
  }

  @media (min-width: $md) {
    transform: rotate(-5.04deg);
    min-width: 267px;
  }
}


.main-page-header__pickup {
  background: $brand-pink;
  color: $white;
  transform: rotate(1.67deg);
  margin-top: 26px;

  &:hover {
    background: $accent-take-in-hover;
  }

  &:active {
    background: $accent-take-in-pressed;
  }

  @media (min-width: $md) {
    transform: rotate(3.11deg) translateY(18px);
    min-width: 224px;
    margin-top: 0;
  }
}
