// AdditiveModal

.additive-modal {
  overflow: auto;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;

  &,
  &__overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
  }

  &__overlay {
    z-index: -1;
    background: rgba($black, 0.8);
  }
  &__content {
    background: $bg-surface;
    max-width: 355px;
    width: 100%;
    margin: 24px auto;
    position: relative;
    padding: 16px;
    border-radius: 12px;
  }
  &__close {
    height: 24px;
    width: 24px;
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
    transition: fill $easing;
    fill: $icon-secondary;
    z-index: 1;
    &:hover {
      fill: $icon;
    }
    &:active {
      fill: $white;
    }
  }

  &__header {
    border-bottom: 1px solid #3b3e47;
    padding-bottom: 16px;
    font-size: 12px;
    line-height: 16px;
  }

  &__title {
    font-weight: 600;
    font-size: inherit;
    margin-top: 0;
    margin-bottom: 2px;
  }

  &__price {
    font-size: inherit;
  }

  &__img-wp {
    height: 80px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
    flex-shrink: 0;
  }

  &__text {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
    display: block;
  }

  &__slider {
    margin-top: 42px;
    margin-bottom: 14px;
  }
}
