.additive-counter {
  height: 24px;
  width: 80px;
  overflow: hidden;
  border-radius: 12px;
  background-color: transparent;
  color: var(--text-contrast);
  border: 1px solid var(--accent);
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  font-weight: 600;
  max-width: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: max-width $easing;
  pointer-events: none;

  &.disabled {
    pointer-events: none;
    opacity: .3;
  }

  & > svg {
    fill: var(--accent);
  }

  &--full {
    max-width: 80px;
    background-color: var(--accent);
  }

  .counter__btn {
    height: 24px;
    width: 24px;
    padding: 0;
    border: none;
    transition: background-color $easing;
    background-color: var(--accent);

    &:hover {
      background-color: var(--accent-hover);
    }
    &:active {
      background-color: var(--accent-pressed);
    }

    svg {
      fill: var(--text-contrast);
    }
  }
  .counter__plus {
    padding-right: 2px;
  }
  .counter__minus {
    padding-left: 2px;
  }

  @include media-breakpoint-up(lg) {
    pointer-events: all;
  }
}
