// Checkbox



.checkbox {
  display: block;

  font-size: 16px;
  line-height: 24px;
  color: $text-main;

  position: relative;
  padding-left: 38px;
  user-select: none;
  max-width: max-content;

  cursor: pointer;

  @media (min-width: $md) {
    padding-left: 37px;
  }


  // *** для проверки
  // margin-left: 19px;
  // margin-right: 19px;

  
  // *** для проверки min-width: $md
  // margin-left: 74px;
  // max-width: 600px;
}


.checkbox_disabled {
  pointer-events: none;
}


.checkbox__input {
  display: none;
}


.checkbox__icon-wp {
  height: 18px;
  width: 18px;

  position: absolute;
  top: 0.2em;
  left: 0;

  background-color: $border;
  border-radius: 1px;
}


.checkbox__icon {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  opacity: 0;
  transition: opacity $easing;
  fill: var(--accent);
}


.checkbox__icon_show {
  opacity: 1;
}


.checkbox__icon_disabled {
  opacity: 0.4;
}


.checkbox__text {}