.city-picker {
  display: inline-flex;
  position: relative;
  align-items: center;
  transition: color $easing;
  padding-left: 10px;
  &:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background: currentColor;
    transition: background-color $easing;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    border-radius: 50%;
  }
}
