.side-modal {
  &_coupon {
  }
  &_coupon & {
    &__content {
      min-height: auto;
      &_internal {
        min-height: 100%;
      }
    }
    &__content-wp {
      display: flex;
      align-items: flex-end;
      &_internal {
        align-items: flex-start;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &_coupon & {
      &__content {
        min-height: 100%;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &_coupon & {
      &__content {
        min-height: 100%;
      }
    }
  }
}
