//

.side-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 3;

  overflow-y: auto;
  overflow-x: hidden;

  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }

  & ~ .side-modal {
    .side-modal-overlay {
      opacity: 0;
    }
  }
  transition: padding-top $easing;

  &_with-swipe {
    padding-top: 24px;

    @include media-breakpoint-up(lg) {
      padding-top: 0;
    }
  }

  &_internal {
    padding-top: 0;
  }
}

.side-modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: $shade-take-in;
}

.side-modal__btn {
  background: none;
  border: none;
  box-shadow: none;
  cursor: pointer;

  width: 56px;
  height: 56px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;

  &:hover {
    .side-modal__icon {
      fill: var(--accent-hover) !important;
    }
  }

  &:active {
    .side-modal__icon {
      fill: var(--accent-pressed) !important;
    }
  }
}

.side-modal__icon {
  fill: $text-main;
  transition: fill $easing;
}

.side-modal__back {
  left: 0;
}

.side-modal__close {
  right: 0;
}

.side-modal__content-wp {
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.side-modal__content {
  pointer-events: auto;
  background-color: $bg-surface;
  padding: 80px 16px 20px 16px;
  margin-right: 0;
  margin-left: auto;
  width: var(--modal-width);
  min-height: 100%;
  color: $text-main;
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;

  @include media-breakpoint-up(lg) {
    padding: 80px 100px 48px 100px;
    width: var(--modal-width-desktop);
  }

  &_with-swipe {
    padding: 40px 16px 0 16px;
    margin-top: auto;
    margin-bottom: 0;
    border-radius: 8px 8px 0 0;
    @include media-breakpoint-up(lg) {
      padding: 80px 16px 0 16px;
      border-radius: 0;
    }
  }
  &_internal {
    margin-top: 0;
  }
}

.side-modal__title {
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 32px;

  font-size: 28px;
  line-height: 36px;

  @include media-breakpoint-up(md) {
    font-size: 46px;
    line-height: 60px;
    margin-bottom: 40px;
  }
}

.side-modal__text {
  font-size: 16px;
  line-height: 24px;
}

