.human {
  display: flex;
  align-items: flex-start;

  &__img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 16px;
  }

  &__info {
    align-self: center;
  }

  &__name {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    display: block;
  }
  &__position {
    font-size: 14px;
    line-height: 20px;
    color: $text-secondary;
  }

  @include media-breakpoint-up(md) {
    &__name {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 8px;
    }
    &__position {
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.02em;
    }
  }
}
