.burger-list {
  &__item {
    display: flex;
    align-items: center;
    transition: color $easing;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    &:hover {
      color: $text-secondary;
    }
    &:active {
      color: $text-disabled;
    }
    &:last-child {
      border-top: 1px solid $divider-main;
    }
  }

  &__icon {
    fill: currentColor;
    width: 22px;
    height: 22px;
    margin-right: 16px;
  }
}
