.footer-social {
  display: inline-flex;
  &__link {
    width: 40px;
    height: 40px;
    min-width: 40px;
    & + & {
      margin-left: 6px;
    }
    &:hover {
      & svg {
        fill: var(--accent-hover);
      }
    }
    &:active {
      & svg {
        fill: var(--accent-pressed);
      }
    }
    & svg {
      width: 100%;
      height: 100%;
      transition: fill $easing;
      fill: rgba($white, .4)
    }
  }
}
