.footer {
  background: $bg-main;
  color: rgba($white, .54);
  display: none;
  &__nav {
    width: 100%;
  }
  &__nav, &__copyrights {
    display: none;
    color: rgba($white, .54);
  }
  &__social {
    margin-left: auto;
  }

  @media (min-width: $lg){
    display: block;
    &__nav, &__copyrights {
      display: flex;
      align-items: center;
    }
  }
}

.footer__container {
  height: auto;
}

