.link-list {
  list-style: none;
  display: inline-flex;
  &__link {
    color: rgba($white, .54);
    transition: color $easing;
    padding: 27px 20px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    display: inline-block;
    &:hover {
      color: var(--accent-hover);
    }
    &:active {
      color: var(--accent-pressed);
    }
    &:first-child {
      margin-left: -20px;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}
