.socials {
  display: flex;

  &__item {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $border;
    border-radius: 50%;
    transition: border-color $easing;
    &:hover {
      border-color: $icon-secondary;
    }
    &:active {
      border-color: $border;
    }
    & + & {
      margin-left: 8px;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

  @include media-breakpoint-up(md) {
    &__item {
      width: 51px;
      height: 51px;
      & + & {
        margin-left: 9.5px;
      }
    }
    &__icon {
      width: 28px;
      height: 28px;
    }
  }
}
