// RCSlider

.rc-slider {
  height: 64px;
  padding-top: 30px;
  padding-bottom: 34px;
  &-rail {
    background-color: #383b40;
    border-radius: 4px;
  }

  &-dot {
    display: none;
  }

  &-track {
    background-color: var(--accent);
    border-radius: 4px;
  }

  &-handle {
    background-color: var(--accent);
    border: 2px solid #27292d;
    width: 24px;
    height: 24px;
    margin-top: -10px;
    transition: background-color $easing;
    box-shadow: none !important;
    user-select: none;

    &:active {
      border-color: #27292d;
      background-color: var(--accent-hover);
    }
    &:hover {
      border-color: #27292d;
      background-color: va(--accent-pressed);
    }
  }

  &-mark {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.38);
    margin-top: 5px;
    user-select: none;
    bottom: 0;
  }

  &-mark-text {
    bottom: 0;
    display: none;
    &:first-child,
    &:nth-child(2),
    &:last-child {
      display: block;
    }
    &-active {
      color: inherit;
    }
  }


  &-wp {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__inner {
    margin-left: 12px;
    margin-right: 12px;
    position: relative;
    width: 100%;
  }

  &__tip {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent);
    width: 35px;
    height: 32px;
    border-radius: 2px;
    // bottom: calc(100% + 12px);
    bottom: calc(50% + 20px);
    font-weight: 800;
    font-size: 20px;
    line-height: 1em;
    color: var(--text-contrast);
    cursor: default;
    transform: translateX(-50%);
    user-select: none;

    &::before {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 1px;
      transform: rotate(45deg) translate(50%, 0%);
      margin-left: -6px;
      background-color: var(--accent);
      position: absolute;
      bottom: 0;
      left: 50%;
    }
  }

  &__btn {
    background: none;
    border: none;
    box-shadow: none;
    width: 24px;
    height: 68px;
    padding: 0;
    color: var(--accent);
    transition: color $easing;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: var(--accent-hover);
    }
    &:active {
      color: var(--accent-pressed);
    }

    svg {
      fill: currentColor;
    }
  }
}
