// RegistrationData


.registration-data__input {
  margin-bottom: 24px;
}


.side-modal__subtitle {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  margin-top: 40px;
  margin-bottom: 24px;
  display: block;
}


.registration-data__checkbox {
  margin-left: 3px;
}


.registration-data__btn {
  margin-top: 40px;
  margin-bottom: 56px;
}