// 


.order-status {
  background: $bg-surface;
  border-radius: 2px;
  padding: 20px 16px 18px 16px;
  max-height: max-content;


  @media (min-width: $md) {
    padding: 26px 16px 22px 16px;
    border-radius: 8px;
  }
}



.order-status__child {
  border-bottom: 1px dashed $divider-main;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}