.masonry-grid {
  --grid-gaps-x: 30px;
  --grid-gaps-y: 30px;
  --items-count: 1;
  --width: calc(100% / var(--items-count) - var(--grid-gaps-x));
  --full-width: calc(100% - var(--grid-gaps-x));
  margin: 0 calc(var(--grid-gaps-x) / 2 * -1);

  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity $slow-easing;

  &_complete {
    opacity: 1;
    overflow: visible;
    height: auto;
  }

  &__item {
    margin: 0 calc(var(--grid-gaps-x) / 2) var(--grid-gaps-y);
    &_full-width {
      width: var(--full-width) !important;
    }
  }

  &__sizer,
  &__item {
    width: var(--width);
  }

  &__sizer {
    margin: 0 calc(var(--grid-gaps-x) / 2);
    width: var(--width);
  }

  @include media-breakpoint-up(sm) {
    --items-count: 2;
    --grid-gaps: 10px;
  }

  @include media-breakpoint-up(md) {
    --items-count: 3;
  }
}

.masonry-example {
  --grid-gaps: 24px;

  &__item {
    background: rgba(var(--accent-pressed-rgb), 0.5);
  }
}
