// Spoiler

.spoiler {
  border-top: 1px solid $divider-main;
  border-bottom: 1px solid $divider-main;
  padding-top: 24px;
  padding-bottom: 24px;

  & + .spoiler {
    border-top: none;
  }
}

.spoiler {
  &__description {
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;
    margin-bottom: 8px;
    & + & {
      margin-top: 0;
    }
  }
  &__description + &__text {
    border-top: 1px dashed $divider-main;
    padding-top: 8px;
  }
}

.spoiler__header {
  user-select: none;
}

.spoiler__header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spoiler__title {
  color: $text-main;

  font-size: 20px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $md) {
    font-size: 34px;
    line-height: 48px;
  }
}

.spoiler__subtitle {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  margin-right: 0;
  margin-left: auto;

  @media (min-width: $md) {
    font-size: 18px;
    line-height: 48px;
  }
}

.spoiler__btn-open {
  height: 22px;
  width: 24px;
  margin-left: 20px;

  background: none;
  border: none;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  @media (min-width: $md) {
    height: 44px;
  }
}

.spoiler__text {
  font-size: 14px;
  line-height: 20px;
  margin-top: 8px;
  margin-bottom: 7px;

  max-width: calc(100% - 36px);

  @include media-breakpoint-up(lg) {
    margin-top: 0;
  }
}

.spoiler__array {
  transform: rotate(-180deg);
  transition: transform $easing;
  fill: $icon-secondary;
}

.spoiler__array_open {
  transform: rotate(0);
}

.spoiler__toggled-content {
  overflow: hidden;
  transition: max-height $easing;
  padding: 0 1px;
}

.spoiler__content {
  padding-top: 24px;
  padding-bottom: 16px;

  @media (min-width: $md) {
    padding-top: 22px;
    padding-bottom: 32px;
  }
}
