.catalog-nav {
  z-index: 2;
  background: rgba($black, .8);
  height: auto;
  position: relative;
  backdrop-filter: blur(16px);
  &:before {
    content: '';
    position: absolute;

  }

  &__slider {
    overflow: visible;
    display: flex;
  }
  &__list {
    display: inline-block;
    white-space: nowrap;
    list-style: none;
    overflow: auto;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    margin: 0 -16px;
    padding: 15px 16px;
  }
  &__item {
    display: inline-block;
  }

  &__link {
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    line-height: 24px;
    padding: 6px 14px 7px;
    transition: background-color $easing, color $easing;
    display: inline-block;
    border-radius: 1px;
    color: $white;
    &:hover {
      background: $bg-surface;
    }
    &:active {
      background: $bg-inputs;
    }
    &.active {
      background-color: var(--accent);
      color: var(--text-contrast);
      &:hover {
        background: var(--accent-hover);
      }
      &:active {
        background: var(--accent-pressed);
      }
    }
  }

  &.sticky {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    padding-left: var(--px);
    padding-right: var(--px);
  }

  @include media-breakpoint-up(md) {
    background: rgba($bg-main, .8);
    &__list {
      width: calc(100vw - var(--cart-width));
    }
  }
  @include media-breakpoint-up(lg) {
    &__slider {
      overflow: hidden;
    }
    &.sticky {
      width: calc(100% - var(--cart-width));
    }
    &__link {
      font-size: 14px;
      line-height: 16px;
      font-weight: normal;
      padding: 11px 17px 11px;
    }

    &.sticky {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}
