.common-modal {
  overflow: auto;
  z-index: 3;
  &, &__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  &__overlay {
    z-index: -1;
    background: rgba($black, .8);
  }
  &__content {
    background: $bg-main;
    color: $white;
    max-width: 1016px;
    width: 100%;
    margin: 23px auto;
    position: relative;
    padding: 54px 60px 68px;
  }
  &__close {
    height: 38px;
    width: 38px;
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
    transition: fill $easing;
    fill: $icon-secondary;
    z-index: 1;
    &:hover {
      fill: $icon;
    }
    &:active {
      fill: $white;
    }
  }
}



.common-modal__swipe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  &:before {
    content: '';
    margin: 6px auto 0;
    background: $white;
    opacity: .2;
    transition: opacity $easing;
    width: 24px;
    height: 4px;
    border-radius: 2px;
    display: block;
  }
  &:active, &.active {
    &:before {
      opacity: .6;
    }
  }
}

.common-modal_with-swipe {
  display: flex;
  padding-top: 24px;
  & .common-modal__close {
    display: none;
  }
}

.common-modal__content_with-swipe {
  margin-top: auto;
  margin-bottom: 0;
  padding-right: 16px;
  padding-left: 16px;
  border-radius: 8px 8px 0 0;
}