//


.map-wp {
  position: relative;

  .gmnoprint {
    right: 30px !important;
    bottom: 55px !important;

    &>div {
      width: 28px !important;
      height: auto !important;
    }
  }

  .gm-control-active {
    width: 28px !important;
    height: 28px !important;
    right: 0 !important;
    left: auto !important;

    +div {
      width: 28px !important;
      margin: 0 !important;
    }
  }



  .map {
    height: 100%;
    width: 100%;
  }


  .delivery-terms__search {
    position: absolute;
    top: 4px !important;
    left: 16px !important;
    z-index: 1;
    color: rgba(255, 255, 255, 0.54);
    padding: 10px 12px;
    width: calc(100% - 16px - 16px);
    height: 56px;
    font-size: 16px;

    @media (min-width: $lg) {
      font-size: 14px;
      height: 40px;
      width: 269px;
      top: 20px !important;
    }
  }


  .pac-container {
    opacity: 0;
  }


  #infowindow-content .title {
    font-weight: bold;
  }

  #infowindow-content {
    display: none;
  }



  .gm-style-iw.gm-style-iw-c {
    background-color: $bg-inputs-light;
    padding: 12px !important;
  }

  .gm-style-iw-d {
    overflow: auto !important;
  }

  .gm-style .gm-style-iw-t::after {
    background: linear-gradient(45deg, rgba($bg-inputs-light, 1) 50%, rgba($bg-inputs-light, 0) 51%, rgba($bg-inputs-light, 0) 100%);
    box-shadow: -2px 2px 2px 0 rgba($bg-inputs-light, .4);
  }


  .pac-container.pac-logo {
    background: $bg-inputs-light;
    border-radius: 1px;
    border: none;
    box-shadow: none;

    .pac-item {
      border-top: 1px solid rgba($white, 0.1);

      font-size: 14px;
      color: rgba(255, 255, 255, 0.54);
      min-height: 40px;
      line-height: 40px;
      min-height: 40px;
    }

    .pac-matched {
      color: rgba($white, 0.9);
      font-weight: 600;
    }

    .pac-icon.pac-icon-marker {
      display: none;
    }
  }
}

.icon-marker {
  fill: red;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display:none;
}
