.choose-rest {
  &__map-wp {
    height: 100%;
    width: 100%;
  }

  &__modal-content {
    padding: 0;
    display: flex;
    height: 100vh;
    margin: 0;
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 24px 16px;
    z-index: 2;
    width: 100%;
  }


  &__time {
    letter-spacing: 0.02em;
    font-size: 12px;
    line-height: 16px;
    margin-top: 4px;
    display: block;
    color: $text-secondary;
  }

}

.choose-rest__radio-wrapper {
  --padding-x: 16px;
  margin-bottom: 24px;
  display: inline-block;
  align-items: center;
  overflow: auto;
  width: calc(100% + var(--padding-x) * 2);
  margin-left: calc(var(--padding-x) * -1);
  padding-left: var(--padding-x);
  -webkit-overflow-scrolling: touch;
  padding-right: var(--padding-x);
  white-space: nowrap;
}

.choose-rest__radio-btn {
  display: inline-block;
  background: $bg-surface;
  border-radius: 4px;
  padding: 8px 12px;
  white-space: nowrap;
  & + & {
    margin-top: 0;
    margin-left: 8px;
  }
  & .circle-radio__circle {
    display: none;
  }
  & .circle-radio__text {
    font-size: 14px;
    line-height: 20px;
  }
  &.active {
    background: var(--accent);
  }

  & .circle-radio__text {
    margin: 0;
  }
}


@include media-breakpoint-up(md) {
  .choose-rest {
    &__modal-content {
      display: flex;
      margin: 74px auto;
      height: calc(100% - 148px);
    }
    &__map-wp {
      height: calc(100vh - (74px * 2));
    }
    &__content {
      position: static;
      max-width: 371px;
      display: flex;
      flex-direction: column;
      padding: 48px 42px 24px;
    }

    &__title {
      margin-top: 0;
      margin-bottom: 24px;
    }
  }

  .choose-rest__radio-wrapper {
    display: block;
    & .circle-radio__circle {
      display: flex;
      margin-right: 18px;
    }
  }


  & .choose-rest__radio-btn {
    display: flex;
    align-items: flex-start;
    background: transparent;
    padding: 12px 0;
    white-space: normal;
    &.active {
      background: transparent;
    }
    & + & {
      margin-left: 0;
      border-top: 1px solid $divider-main;
    }
    &:last-child {
      border-bottom: 1px solid $divider-main;
    }
    & .circle-radio {
      &__text {
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        margin-top: -2px;
        display: block;
      }
    }
  }
}
