.coupon-card {
  background: $bg-inputs;
  transition: background-color $easing;
  border-radius: 2.5px;
  cursor: pointer;
  text-align: center;
  color: $white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  &:hover {
    background: lighten($bg-inputs, 2%);
  }
  &:active {
    background: darken($bg-inputs, 3%);
  }

  &__inner {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }

  &__code {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    padding-top: 12px;
    display: block;
  }

  &__preview {
    height: 80px;
    margin-top: 11px;
    margin-bottom: 12px;
  }
  &__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
  }

  &__desc {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    padding: 0 12px;
    margin-top: auto;
    margin-bottom: 0;
  }

  &__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 23px;
    margin-top: 12px;
    &_old {
      margin-right: 8px;
      color: $divider-light;
      position: relative;
      opacity: .4;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 2px;
        background: currentColor;
      }
    }
  }

  &__btn {
    border-top: 1.5px dashed $black;
    position: relative;
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      background: $black;
      border-radius: 50%;
      top: 0;
    }
    &:before {
      left: 0;
      transform: translate(-50%, -50%);
    }
    &:after {
      right: 0;
      transform: translate(50%, -50%);
    }
  }

  @include media-breakpoint-up(md) {
    border-radius: 4px;
    &__code {
      font-size: 30px;
      line-height: 39px;
      padding-top: 22px;
    }

    &__preview {
      height: 135px;
      margin-top: 22px;
      margin-bottom: 23px;
    }

    &__desc {
      font-size: 15px;
      line-height: 22px;
    }

    &__price {
      font-size: 22px;
      line-height: 26px;
      margin-top: 11px;
      margin-bottom: 30px;
    }

    &__btn {
      border-top: 2px dashed $bg-main;
      &:before,
      &:after {
        width: 22px;
        height: 22px;
        background: $bg-main;
      }
    }
  }
}
