// ProductPrice

.product-price {
  background-color: $bg-inputs-light;
  padding: 10px 16px;
  position: sticky;
  bottom: 0;
  right: 0;
  margin-left: -16px;
  margin-right: -16px;
  width: calc(100% + 16px + 16px);
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin-top: auto;
  margin-bottom: 0;

  &_dark {
    background-color: $bg-inputs;
  }

  &__counter {
    border: 1px solid $border;
    border-radius: 4px;
    justify-content: center;
    min-width: 110px;
    width: auto;
    height: 52px;
    margin-right: 10px;
    margin-left: 0;

    .counter__btn {
      border: none;
      height: 52px;
    }
    .counter__amount {
      width: 36px;
      font-weight: bold;
    }
  }

  &__total {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    margin-right: auto;
  }

  &__add {
    height: 52px;
    min-height: 52px;
    width: auto;
  }
}
