// PromotionList

.promotion-list {
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  list-style: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  margin: 0 -16px;
  padding: 0 16px;

  &__card {
    margin-right: 8px;
  }
}