// InternalLink

.internal-link {
  cursor: pointer;
  background-color: $bg-inputs;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 16px 14px 16px 16px;
  min-height: 98px;
  transition: background-color $easing;
  margin: 24px 0;
  &__img-wp {
    width: 66px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    margin-right: 18px;
  }
  &__img {
    max-width: 100%;
    max-height: 100%;
    flex-shrink: 0;
  }
  &__icon-wp {
    fill: $white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 20px;

    &--error {
      fill: $error;
    }
    &--success {
      fill: $success;
    }
  }
  &__icon {
    transform: translateY(4px);
    height: 24px;
    width: 24px;
  }
  &__arrow-wp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 24px;
    width: 24px;
    margin-left: 10px;
  }
  &__arrow {
    fill: $icon-secondary;
    transform: rotate(90deg);
  }
  &__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
  }
  &__title-text {
    display: inline;
  }
  &__desc {
    font-size: 14px;
    line-height: 20px;
    margin-top: 0.2em;
    margin-bottom: 0;
  }

  &:hover {
    background-color: $bg-inputs-light;
  }
  &:active {
    background-color: $bg-surface;
  }

  @include media-breakpoint-up(lg) {
    &__img-wp {
      margin-right: 16px;
    }
  }
}
