.add-coupon {
  margin-bottom: 24px;
  &__input {
    display: inline-flex;
    height: auto;
    max-width: 202px;
    & input {
      height: 48px !important;
      font-size: 16px;
      line-height: 24px;
      &::placeholder {
        color: $text-secondary;
        font-weight: 300;
      }
    }

    &.input_disabled {
      opacity: 1;
    }

    &_done {
      & input {
        padding-left: 40px;
      }
    }
  }

  &__input-wrapper {
    display: flex;
  }

  &__btn {
    height: 48px;
    min-height: 48px;
  }

  &__create-btn {
    font-size: 14px;
    line-height: 20px;
    border: none;
    background: none;
    padding: 0;
    color: var(--accent);
    transition: color $easing;
    cursor: pointer;
    &:hover {
      color: var(--accent-hover);
    }
    &:active {
      color: var(--accent-pressed);
    }
  }

  &__done-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 12px;
    left: 8px;
    fill: $success;
    z-index: 1;
  }

  &__container {
    padding: 32px 16px 84px;
  }
}
