// PersonalData


.profile-user {



  // *** для проверки
  // margin-left: 16px;
  // margin-right: 16px;


  // *** для проверки min-width: $md
  // max-width: 600px;
  // margin-left: 71px;
}



.profile-user__form {
  width: 100%;
  display: flex;
  flex-direction: column;


  @media (min-width: $md) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}


.profile-user__first_name {
  order: 1;
}


.profile-user__last_name {
  order: 2;
}


.profile-user__phone {
  order: 3;
}


.profile-user__email {
  order: 5;
}


.profile-user__birthday {
  order: 4;
}


.profile-user__input {
  margin-bottom: 24px;
  position: relative;
  @media (min-width: $md) {
    max-width: calc(50% - 12px);
    width: 100%;

    margin-bottom: 27px;
    margin-top: 5px;
    order: 0;
  }
}


.profile-user__save {
  order: 6;

  @media (min-width: $md) {
    max-width: calc(50% - 12px);
    width: 100%;

    margin-top: 5px;
    margin-right: calc(50% - 12px);
  }
}

.profile-user__change-phone {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity $easing;
  &:hover {
    opacity: .8;
  }
  & svg {
    fill: $text-main;
  }
}
