// 


.nothing-yet {
  position: relative;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.nothing-yet__headline {
  margin-top: 20px;
  font-weight: 900;
  font-size: 46px;
  line-height: 60px;
  color: $text-disabled;
  text-transform: uppercase;

  @media (min-width: $sm) {
    margin-top: 0;
  }
}

.nothing-yet__text {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: $text-secondary;
  max-width: 90%;
  margin-bottom: 28px;

  @media (min-width: $sm) {
    max-width: 100%;
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
  }
}


.nothing-yet__buttons {
  margin-top: auto;
  margin-bottom: 20px;

  @media (min-width: $sm) {
    margin-top: 18px;
    display: flex;
  }
}


.nothing-yet__btn {
  width: 100%;

  &+& {
    margin-top: 24px;
  }

  @media (min-width: $sm) {
    width: auto;
    margin-right: 24px;

    &+& {
      margin-right: 0;
      margin-top: 0;
    }
  }
}